  <div class="free-style-wrapper free-style-wrapper01">
      <div class="row" style="margin: 0px;">
          <div class="col-md-2 its-freestyle-container">
              <div class="its-template-list its-template-list-left">
                  <div class="row">
                      <div class="col-md-6 mb-3 its-free-language">
                          <div class="input-group">
                            <select id="INPUT_LANGUAGE" class="form-control form-control-xs selectpicker1" name="" data-size="7" data-live-search="true" data-title="Location" data-width="100%">
                                <option value="ENGLISH" <%= @input_language == "ENGLISH" ? "selected" : "" %> >English</option>
                                <option value="ARABIC" <%= @input_language == "ARABIC" ? "selected" : "" %> >Arabic</option>
                                <option value="FRENCH" <%= @input_language == "FRENCH" ? "selected" : "" %> >French</option>
                            </select>

                          </div>
                      </div>
                      <div class="col-md-6 mb-3 its-free-action">
                          <ul>
                              <li>
                                  <a href="#" title="Swap" class="swap">
                                      <svg enable-background="new 0 0 384 384" version="1.1" viewBox="0 0 384 384" width="20" height="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><polygon points="85.12 170.67 0 256 85.12 341.33 85.12 277.33 234.67 277.33 234.67 234.67 85.12 234.67" class="pol01" style="fill:#006649;stroke:#006649;stroke-width:10"/><polygon points="384 128 298.88 42.667 298.88 106.67 149.33 106.67 149.33 149.33 298.88 149.33 298.88 213.33" class="pol02" style="fill:#ffffff;stroke:#006649;stroke-width:10"/></svg>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4 its-freestyle-container"></div>
          
          <div class="col-md-2 its-freestyle-container2">

              <div class="its-template-list" style="float:left;border-bottom: none;">
                  <div class="row">

                      <div class="col-md-6 mb-3 its-free-language">
                          <div class="input-group">
                            <select id="OUTPUT_LANGUAGE" class="form-control form-control-xs selectpicker1" name="" data-size="7" data-live-search="true" data-title="Location" data-width="100%">
                                <option value="ENGLISH" <%= @output_language == "ENGLISH" ? "selected" : "" %> >English</option>
                                <option value="ARABIC" <%= @output_language == "ARABIC" ? "selected" : "" %> >Arabic</option>
                                <option value="FRENCH" <%= @output_language == "FRENCH" ? "selected" : "" %> >French</option>
                            </select>

                          </div>
                      </div>


                      <div class="col-md-6 mb-3 its-free-action">
                          <ul>
                              <li>
                                  <a href="#" title="Copy">
                                      <svg enable-background="new 0 0 384 384" version="1.1" viewBox="0 0 384 384" width="20" height="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><polygon points="85.12 170.67 0 256 85.12 341.33 85.12 277.33 234.67 277.33 234.67 234.67 85.12 234.67" class="pol01" style="fill:#ffffff;stroke:#006649;stroke-width:10"/><polygon points="384 128 298.88 42.667 298.88 106.67 149.33 106.67 149.33 149.33 298.88 149.33 298.88 213.33" class="pol02" style="fill:#006649;stroke:#006649;stroke-width:10"/></svg>
                                  </a>
                              </li>
                          </ul>
                      </div>

                  </div>
              </div>
          </div>

          <div class="col-md-4 its-freestyle-container">
              <div class="its-template-list its-template-secondary">
                  <div class="row">
                      <div class="col-md-12 mb-3 its-free-action its-free-action-trans-btn">
                          <ul>
                              <li>
                                  <a id="translate" href="#">
                                    <!-- <img src="../assets/images/icons/its-icon_3.svg"> -->
                                    <%= image_tag "icons/its-icon_3.svg"%>
                                    <span>TRANSLATE</span></a>
                              </li>
                              <li>
                                  <a href="#" title="Translate" id="export">
                                    <%= image_tag "icons/export.svg"%>
                                      Export</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>





      </div>
  </div>