<%
  if @user_subscription.new_record?
    form_method = :post
    form_url = {action: :create}
  else
    form_method = :put
    id=@user_subscription.id
    form_url = {action: :update}
  end
%>



<%= form_with(url: form_url,  
      class: "form-floating", 
      model: @user_subscription,
      method: form_method, 
      html: { autocomplete: "off" }) do |f| %>

  <%= hidden_field_tag "called_from", params[:called_from] %>
<div class="body">
        <%= f.hidden_field :user_id, :value => @current_client_user.id %>
                    <div class="comparison">

                        <table>
                          <thead>
                            <tr>
                              <th class="tl"></th>
                              <th class="compare-heading sub-current-plan">
                                Free Version
                              </th>
                              <th class="compare-heading">
                                Biz Lite
                              </th>
                              <th class="compare-heading">
                                Biz Pro
                              </th>
                              <th class="compare-heading">
                                Enterprise
                              </th>
                            </tr>
                            <tr>
                              <th></th>
                               <% if @subscriptions.present? %>
                              <% @subscriptions.each_with_index do |subscription, i| %>
                              <th class="price-info <%= (@user_subscription.subscription_id == subscription.id)? 'sub-current-plan' : '' %>">
                                
                  
                              <%#= f.radio_button :subscription_id,subscription.id,:checked =>(@user_subscription.subscription_id == subscription.id) %>
                                <div class="price-now"><span>$<%=(subscription.price == 0)? 'Free' : subscription.price %></span></div>
                                <div>
                                   <%= f.radio_button :subscription_id,subscription.id,:checked =>(@user_subscription.subscription_id == subscription.id) %>
                                  <a href="#" class="price-buy"><%=(@user_subscription.subscription_id == subscription.id)? 'Current Plan' : 'Upgrade' %></a></div>
                              </th>
                              <!-- <th class="price-info">
                                <div class="price-now"><span>$39.99</span></div>
                                <div><a href="#" class="price-buy">Upgrade</a></div>
                              </th>
                              <th class="price-info">
                                <div class="price-now"><span>$49.99</span></div>
                                <div><a href="#" class="price-buy">Upgrade</a></div>
                              </th>
                              <th class="price-info">
                                <div class="price-now"><span>TBC*</span></div>
                                <div><a href="#" class="price-buy">Upgrade</a></div>
                              </th> -->
                              <% end %>
                              <% end %>
                            </tr>
                          </thead>
                          <tbody>
                            
                            <% if @modules.present? %>
                              <% @modules.each_with_index do |modu, i|
                                @tickblue=false
                               %>
                              <% @sub=modu.subscription_module.find_by(subscription_id:1)
                                  if !@sub.blank?
                                    @tickblue=true
                                   else
                                    @tickblue=false
                                  end
                                  @sub1=modu.subscription_module.find_by(subscription_id:2)
                                  if !@sub1.blank?
                                    @tickblue1=true
                                   else
                                    @tickblue1=false
                                  end
                                  @sub2=modu.subscription_module.find_by(subscription_id:3)
                                  if !@sub2.blank?
                                    @tickblue2=true
                                   else
                                    @tickblue2=false
                                  end
                                  @sub2=modu.subscription_module.find_by(subscription_id:4)
                                  if !@sub3.blank?
                                    @tickblue3=true
                                   else
                                    @tickblue3=false
                                  end
                              %>
                            <tr class="compare-row">
                              <td><%=modu.title%></td>
                              <td><span class="<%=@tickblue ? "tickblue": ""%>"><%=@tickblue ? raw("<i class=\"fa fa-check\"></i>") :"-" %></span></td>
                              <td><span class="<%=@tickblue1 ? "tickblue": ""%>"><%=@tickblue1 ? raw("<i class=\"fa fa-check\"></i>") :"-" %></span></td>
                              <td><span class="<%=@tickblue2 ? "tickblue": ""%>"><%=@tickblue2 ? raw("<i class=\"fa fa-check\"></i>") :"-" %></span></td> 
                              <td><span class="<%=@tickblue3 ? "tickblue": ""%>"><%=@tickblue3 ? raw("<i class=\"fa fa-check\"></i>") :"-" %></span></td>
                            </tr>
                            <%end%>
                            <%end%>
                            

                        </tbody>
                        </table>
                        
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <button type="submit" class="btn btn-primary pull-right ml-2">Save</button>
        
        <button type="button" class="btn btn-secondary pull-right cancel">Cancel</button>
      </div>
    </div>
                      </div> </div>
  

<% end %>



