<%
  if @user_subscription.new_record?
    form_method = :post
    form_url = {action: :create}
  else
    # form_method = :post
    form_method = :put
    id=@user_subscription.id
    form_url = {action: :update}
  end
%>



<%#= form_with(
      # url: subscribe_user_user_subscriptions_path,  
      url: form_url,  
      class: "form-floating", 
      id: "sub_plan_form",
      model: @user_subscription,
      method: form_method, 
      html: { autocomplete: "off" }) do |f| %>



    <div class="col-lg-12">
      <%
        @trial_period_end_date = (current_client_user.created_at.to_date + 7.days)
        @trial_period = (Date.today.to_date - current_client_user.created_at.to_date).to_i
      %>
      <% if @trial_period <= 7 %>
        <div class="alert alert-primary" role="alert">

          You are on the trial plan. You will be able to access full features on the platform for first 7 days. Your trial will expire on <%= @trial_period_end_date.strftime('%d-%m-%Y') %>

        </div>
      <% end %>
    </div>

    <%= hidden_field_tag "called_from", params[:called_from] %>
    <div class="body">
      <%#= f.hidden_field :user_id, :value => @current_client_user.id %>
        <div class="comparison">
            <table>
              <thead>
                <tr>
                  <th class="tl"></th>
                  <% @subscriptions.each_with_index do |subscription, i| %>
                    <th class="compare-heading <%= (@user_subscription.subscription_id == subscription.id )? 'sub-current-plan' : '' %> ">
                      <%= subscription.title.titleize %>
                    </th>
                  <% end %>
                </tr>
                <tr>
                  <th></th>
                    <% @subscriptions.each_with_index do |subscription, i| %>
                      <th class="price-info <%= (@user_subscription.subscription_id == subscription.id)? 'sub-current-plan' : '' %> ">
                        <div class="price-now">
                            <%
                              if subscription.title.to_s == 'Free'
                                price = 'Free'
                              elsif subscription.title.to_s == 'Enterprise'
                                price = 'TBC*'
                              else
                                price = "$ #{subscription.price}"
                              end
                            %>
                          <span> <%= price %> </span>
                        </div>
                        <div>
                          <%# binding.pry %>


                            <% 
                              if subscription.title.to_s != 'Free' && @user_subscription.subscription_id != subscription.id
                            %>


                              <%= form_with(
                                  # url: subscribe_user_user_subscriptions_path,  
                                  url: form_url,  
                                  class: "form-floating", 
                                  id: "sub_plan_form",
                                  model: @user_subscription,
                                  method: form_method, 
                                  html: { autocomplete: "off" }) do |f| %>

                                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                  data-description="<%= subscription.title.titleize %> subscription"
                                  data-amount="<%= subscription.price * 100 %>"
                                  data-email="<%= @current_client_user.email %>"
                                  data-locale="auto"></script>
                                <input type="hidden"  name="user_subscription[sub_id]" value="<%= subscription.id %>" />
                                <input type="hidden"  name="user_subscription[user_id]" value="<%= @current_client_user.id %>" />


                              <% end %>


                            <% else %> 
                              <% if subscription.title.to_s != 'Free' %>
                                <a href="javascript:void(0);" class="mt-4" style="color: #ada9df;"  onclick="downgradePlan()"> Downgrade Plan</a>
                              <% end %>
                            <% end %>



                        </div>
                      </th>
                    <% end %>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td colspan="5">Monthly Subscription</td>
                </tr>
                <tr class="compare-row">
                  <td>Monthly Subscription</td>
                  <td><span class="tickblue">Free</span></td>
                  <td><span class="tickblue">$ 49.99</span></td>
                  <td><span class="tickblue">$ 149.99</span></td> 
                  <td><span class="tickblue">$ 269.99</td>
                  <td><span class="tickblue">$ 509.99</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Customer Registration</td>
                </tr>
                <tr>
                  <td>Customer Registration</td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Free Translation Access</td>
                </tr>
                <tr class="compare-row">
                  <td>Free Translation Access</td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Languages</td>
                </tr>
                <tr>
                  <td>Languages</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Output to PDF</td>
                </tr>
                <tr class="compare-row">
                  <td>Output to PDF</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Online Archiving & Storage*</td>
                </tr>
                <tr>
                  <td>Online Archiving & Storage*</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Label Output Sizing</td>
                </tr>
                <tr class="compare-row">
                  <td>Label Output Sizing</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Basic Template Features</td>
                </tr>
                <tr>
                  <td>Basic Template Features</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Advanced Template Features</td>
                </tr>
                <tr class="compare-row">
                  <td>Advanced Template Features</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Nutrition Panel Template</td>
                </tr>
                <tr>
                  <td>Nutrition Panel Template</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Customer Response 24hrs</td>
                </tr>
                <tr class="compare-row">
                  <td>Customer Response 24hrs</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">1 Language</span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Customer Response 12hrs</td>
                </tr>
                <tr>
                  <td>Customer Response 12hrs</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Option to Customise Interface</td>
                </tr>
                <tr class="compare-row">
                  <td>Option to Customise Interface</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i>*</span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">24 hr Customer Support</td>
                </tr>
                <tr>
                  <td>24 hr Customer Support</td>
                  <td class="tickblue">-</td>
                  <td class="tickblue">-</td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="5">Dedicated Server</td>
                  </tr>
                  <tr class="compare-row">
                    <td>Dedicated Server</td>
                    <td class="tickblue">-</td>
                    <td class="tickblue">-</td>
                    <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                    <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                    <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">User Licenses Per Account (simultaneous log-ins)</td>
                </tr>
                <tr>
                  <td>User Licenses Per Account (simultaneous log-ins)</td>
                  <td class="tickblue">1</td>
                  <td class="tickblue">3</td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
            </tbody>
            </table>
            <div class="row mt-4">
              <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left;">
                <span><i class="fa fa-check"></i>* : Limited scope</span>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2" style="text-align: left;">
                <!-- <span>TBC* : Please contact us on (contact email) to find our how we can customise and integrate ITS Label into you organisation's workflow. </span> -->
              </div>
            </div>
        </div> 
    </div>


<%# end %>


<script type="text/javascript">
  
    function downgradePlan() {
      let text = "Do you realy want to downgrade the plan?";
      if (confirm(text) == true) {
        var user_id = <%= @current_client_user.id %>
         $.ajax({
         url: "/user/user_subscriptions/downgrade_subscription.js",
         type: "POST",
           headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
         data: {"subscription": {"user_id" : user_id}},
         // dataType: "json",
         success: function(data) {
           }
         });
      } 

    }
</script>
