<%
  if @user_subscription.new_record?
    # form_method = :post
    # form_url = {action: :create}

    form_method = :put
    id=@user_subscription.id
    form_url = {action: :update}
  else
    # form_method = :post
    form_method = :put
    id=@user_subscription.id
    form_url = {action: :update}
  end
%>



    <div class="col-lg-12">
      <%
        @trial_period_end_date = (current_client_user.created_at.to_date + 7.days)
        @trial_period = (Date.today.to_date - current_client_user.created_at.to_date).to_i
      %>
      <% if @trial_period <= 7 &&  @user_subscription['zoho_plan_code'].to_s == "Free" %>
        <div class="alert alert-primary" role="alert">

          You are on the trial plan. You will be able to access full features on the platform for first 7 days. Your trial will expire on <%= @trial_period_end_date.strftime('%d-%m-%Y') %>

        </div>
      <% end %>
    </div>

    <%= hidden_field_tag "called_from", params[:called_from] %>


    <div class="body">
      <%#= f.hidden_field :user_id, :value => @current_client_user.id %>
        <div class="comparison">
            <table>
              <thead>
                <tr>
                  <th class="tl"></th>
                    <th class="compare-heading <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_free_plan_code )? 'sub-current-plan' : '' %> ">
                        7-day Trial
                    </th>

                    <th class="compare-heading <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_month_plan_code )? 'sub-current-plan' : '' %> ">
                        Monthly
                    </th>

                    <th class="compare-heading <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_3month_plan_code )? 'sub-current-plan' : '' %> ">
                        3 Months
                    </th>

                    <th class="compare-heading <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_6month_plan_code )? 'sub-current-plan' : '' %> ">
                        6 Months
                    </th>

                    <th class="compare-heading <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_12month_plan_code )? 'sub-current-plan' : '' %> ">
                        12 Months
                    </th>

                    <% if params[:debug] == 'true' %>  <!-- passing params as ?debug=true  -->
                      <th class="compare-heading <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_test_plan_code )? 'sub-current-plan' : '' %> ">
                          Test
                      </th>
                    <% end %>
                </tr>
                <tr>
                  <th></th>


                      <th class="price-info <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_free_plan_code )? 'sub-current-plan' : '' %> ">
                        <div class="price-now">
                          <span> Free </span>
                        </div>
                        <div>
                          <div>  
                            <!-- 31px -->
                            <% if (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_free_plan_code) %>
                              <a href="javascript:void(0);" class="price-buy mt-2"> Active </a>
                            <% else %>
                            <% end %>
                          </div>
                              <%# if subscription.title.to_s != 'Free' %>
                                <!-- <a href="javascript:void(0);" class="mt-4" style="color: #ada9df;"  onclick="downgradePlan()"> Downgrade Plan</a> -->
                              <%# end %>

                        </div>
                      </th>

                      <th class="price-info <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_month_plan_code )? 'sub-current-plan' : '' %>">
                        <div class="price-now">
                          <span> $ 49.99 <%= Rails.application.secrets.zoho_month_plan_code %> </span>
                        </div>
                        <div>
                          <%= form_for(@user_subscription, :url => {action: :update}, :method => "put" ) do |f| %>
                              <div>

                                <% if (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_month_plan_code) %>
                                  <a href="javascript:void(0);" class="price-buy"> Active </a>
                                <% else %>
                                  <input class="price-buy" type="submit" value="Update" name="update">
                                <% end %>

                                <input type="hidden"  name="user_subscription[plan_code]" value="<%= Rails.application.secrets.zoho_month_plan_code %>" />
                                <input type="hidden"  name="user_subscription[plan_description]" value="Monthly Plan" />
                                <input type="hidden"  name="user_subscription[price]" value="49.99" />
                              </div>
                          <% end %>
                              <%# if subscription.title.to_s != 'Free' %>
                                <!-- <a href="javascript:void(0);" class="mt-4" style="color: #ada9df;"  onclick="downgradePlan()"> Downgrade Plan</a> -->
                              <%# end %>
                        </div>
                      </th>

                      <th class="price-info <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_3month_plan_code )? 'sub-current-plan' : '' %>">
                        <div class="price-now">
                          <span> $ 149.99 </span>
                        </div>
                        <div>
                          <%= form_for(@user_subscription, :url => {action: :update}, :method => "put" ) do |f| %>
                              <div>

                                <% if (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_3month_plan_code) %>
                                  <a href="javascript:void(0);" class="price-buy"> Active </a>
                                <% else %>
                                  <input class="price-buy" type="submit" value="Update" name="update">
                                <% end %>

                                <input type="hidden"  name="user_subscription[plan_code]" value="<%= Rails.application.secrets.zoho_3month_plan_code %>" />
                                <input type="hidden"  name="user_subscription[plan_description]" value="3 Months plan Plan" />
                                <input type="hidden"  name="user_subscription[price]" value="149.99" />
                              </div>
                          <% end %>
                              <%# if subscription.title.to_s != 'Free' %>
                                <!-- <a href="javascript:void(0);" class="mt-4" style="color: #ada9df;"  onclick="downgradePlan()"> Downgrade Plan</a> -->
                              <%# end %>
                        </div>
                      </th>

                      <th class="price-info <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_6month_plan_code )? 'sub-current-plan' : '' %>">
                        <div class="price-now">

                          <span> $ 269.99 </span>
                        </div>
                        <div>
                          <%= form_for(@user_subscription, :url => {action: :update}, :method => "put" ) do |f| %>
                              <div>

                                <% if (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_6month_plan_code) %>
                                  <a href="javascript:void(0);" class="price-buy"> Active </a>
                                <% else %>
                                  <input class="price-buy" type="submit" value="Update" name="update">
                                <% end %>

                                <input type="hidden"  name="user_subscription[plan_code]" value="<%= Rails.application.secrets.zoho_6month_plan_code %>" />
                                <input type="hidden"  name="user_subscription[plan_description]" value="6 Months plan" />
                                <input type="hidden"  name="user_subscription[price]" value="269.99" />
                              </div>
                          <% end %>
                              <%# if subscription.title.to_s != 'Free' %>
                                <!-- <a href="javascript:void(0);" class="mt-4" style="color: #ada9df;"  onclick="downgradePlan()"> Downgrade Plan</a> -->
                              <%# end %>
                        </div>
                      </th>

                      <th class="price-info <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_12month_plan_code )? 'sub-current-plan' : '' %>">
                        <div class="price-now">
                          <span> $ 509.99 </span>
                        </div>
                        <div>
                          <%= form_for(@user_subscription, :url => {action: :update}, :method => "put" ) do |f| %>
                              <div>

                                <% if (@user_subscription['zoho_plan_code'].to_s == "Rails.application.secrets.zoho_12month_plan_code") %>
                                  <a href="javascript:void(0);" class="price-buy"> Active </a>
                                <% else %>
                                  <input class="price-buy" type="submit" value="Update" name="Update">
                                <% end %>

                                <input type="hidden"  name="user_subscription[plan_code]" value="<%= Rails.application.secrets.zoho_12month_plan_code %>" />
                                <input type="hidden"  name="user_subscription[plan_description]" value="12 Months plan" />
                                <input type="hidden"  name="user_subscription[price]" value="509.99" />
                              </div>
                          <% end %>
                              <%# if subscription.title.to_s != 'Free' %>
                                <!-- <a href="javascript:void(0);" class="mt-4" style="color: #ada9df;"  onclick="downgradePlan()"> Downgrade Plan</a> -->
                              <%# end %>
                        </div>
                      </th>

                      <% if params[:debug] == 'true' %>  <!-- passing params as ?debug=true  -->

                          <th class="price-info <%= (@user_subscription['zoho_plan_code'].to_s == Rails.application.secrets.zoho_test_plan_code )? 'sub-current-plan' : '' %>">
                            <div class="price-now">
                              <span> $ 1.00 </span>
                            </div>
                            <div>
                              <%= form_for(@user_subscription, :url => {action: :update}, :method => "put" ) do |f| %>
                                  <div>

                                    <% if (@user_subscription['zoho_plan_code'].to_s == "Rails.application.secrets.zoho_test_plan_code") %>
                                      <a href="javascript:void(0);" class="price-buy"> Active </a>
                                    <% else %>
                                      <input class="price-buy" type="submit" value="Update" name="Update">
                                    <% end %>

                                    <input type="hidden"  name="user_subscription[plan_code]" value="<%= Rails.application.secrets.zoho_test_plan_code %>" />
                                    <input type="hidden"  name="user_subscription[plan_description]" value="Test Plan" />
                                    <input type="hidden"  name="user_subscription[price]" value="1.0" />
                                  </div>
                              <% end %>
                                  <%# if subscription.title.to_s != 'Free' %>
                                    <!-- <a href="javascript:void(0);" class="mt-4" style="color: #ada9df;"  onclick="downgradePlan()"> Downgrade Plan</a> -->
                                  <%# end %>
                            </div>
                          </th>

                      <% end %>



                </tr>
              </thead>
              <tbody>
<!--                 <tr>
                  <td></td>
                  <td colspan="5">Monthly Subscription</td>
                </tr>
                <tr class="compare-row">
                  <td>Monthly Subscription</td>
                  <td><span class="tickblue">Free</span></td>
                  <td><span class="tickblue">$ 49.99</span></td>
                  <td><span class="tickblue">$ 149.99</span></td> 
                  <td><span class="tickblue">$ 269.99</td>
                  <td><span class="tickblue">$ 509.99</td>
                </tr> -->
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Access over 6,000+ comprehensively researched food ingredients in 4 languages.</td>
                </tr>
                <tr>
                  <td>Access over 6,000+ comprehensively researched food ingredients in 4 languages.</td>
                  <td><span class="tickblue">
                    <%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%>
                    <!-- <img alt="user icon" src="/assets/icons/tick.png" style="height: 50px;width: 50px;"> -->
                      </span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Translation from/to English, Arabic, French, and Spanish.</td>
                </tr>
                <tr class="compare-row">
                  <td>Translation from/to English, Arabic, French, and Spanish.</td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Free-form ingredient translation with PDF exporting.</td>
                </tr>
                <tr>
                  <td>Free-form ingredient translation with PDF exporting.</td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Table-based ingredient translation with CSV importing and exporting.</td>
                </tr>
                <tr class="compare-row">
                  <td>Table-based ingredient translation with CSV importing and exporting.</td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Label/Template ingredient translation with PDF exporting.</td>
                </tr>
                <tr>
                  <td>Label/Template ingredient translation with PDF exporting.</td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Management system to store your translations on the cloud.</td>
                </tr>
                <tr class="compare-row">
                  <td>Management system to store your translations on the cloud.</td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Customer support response within 24 hours.</td>
                </tr>
                <tr>
                  <td>Customer support response within 24 hours.</td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                  <td><span class="tickblue"><%= image_tag "icons/tick.png", alt: "tick icon", style: 'height:25px; width:20px;'%></span></td>
                </tr>












<!-- 
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Advanced Template Features</td>
                </tr>
                <tr class="compare-row">
                  <td>Advanced Template Features</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Nutrition Panel Template</td>
                </tr>
                <tr>
                  <td>Nutrition Panel Template</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Customer Response 24hrs</td>
                </tr>
                <tr class="compare-row">
                  <td>Customer Response 24hrs</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">1 Language</span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Customer Response 12hrs</td>
                </tr>
                <tr>
                  <td>Customer Response 12hrs</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">Option to Customise Interface</td>
                </tr>
                <tr class="compare-row">
                  <td>Option to Customise Interface</td>
                  <td><span class="tickblue">-</span></td>
                  <td><span class="tickblue"><i class="fa fa-check"></i>*</span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">24 hr Customer Support</td>
                </tr>
                <tr>
                  <td>24 hr Customer Support</td>
                  <td class="tickblue">-</td>
                  <td class="tickblue">-</td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="5">Dedicated Server</td>
                  </tr>
                  <tr class="compare-row">
                    <td>Dedicated Server</td>
                    <td class="tickblue">-</td>
                    <td class="tickblue">-</td>
                    <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                    <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                    <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="5">User Licenses Per Account (simultaneous log-ins)</td>
                </tr>
                <tr>
                  <td>User Licenses Per Account (simultaneous log-ins)</td>
                  <td class="tickblue">1</td>
                  <td class="tickblue">3</td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                  <td><span class="tickgreen"><i class="fa fa-check"></i></span></td>
                </tr> -->


            </tbody>
            </table>
            <div class="row mt-4">
              <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left;">
                <span><!-- <i class="fa fa-check"></i> -->
                  <li>Terms & conditions apply, along with the standard cancellation policy based on a minimum subscription of 1 month.</li>
                  <li>All registered users will have full free access to all available features for 7 days. After 7 days, users are required to subscribe and pay to continue using the translation web app service. ITS will not take credit cards or any billing information at the beginning of the trial period. For more information, please view our <a href="https://itslabel.me/frequently-asked-questions">FAQ.</a> 
                  </li>
                </span>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2" style="text-align: left;">
                <!-- <span>TBC* : Please contact us on (contact email) to find our how we can customise and integrate ITS Label into you organisation's workflow. </span> -->
              </div>
            </div>
        </div> 
    </div>


<%# end %>










<script type="text/javascript">

      // Function to update plane. The function triggered on click event
    function updatePlan(plan_code, plan_description, price) {
        var user_id = <%= @current_client_user.id %>
         $.ajax({
         url: "/user/user_subscriptions.js",
         type: "PUT",
           headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        data: {"user_id" : user_id, "plan_code": plan_code, "plan_description":plan_description, "price": price},
         // dataType: "json",
         success: function(data) {
           }
         });
    }

    function downgradePlan() {
      let text = "Do you realy want to downgrade the plan?";
      if (confirm(text) == true) {
        var user_id = <%= @current_client_user.id %>
         $.ajax({
         url: "/user/user_subscriptions/downgrade_subscription.js",
         type: "POST",
           headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
         data: {"subscription": {"user_id" : user_id}},
         // dataType: "json",
         success: function(data) {
           }
         });
      } 

    }
</script>
