<div class="auth-main5" style="text-align: center;">
    <div class="vivify">
        <div class="auth_brand m-t-60" style="text-align: center;">
             <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "d-inline-block", width: "142", height: "60" %>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-7" style="margin: 0 auto;">
        <div class="card m-t-20">            
            <div class="body">
                             <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div id="USER_REGI_ERRORS">
                        <!-- Display Errors if Any -->
                        <%#= notify_form_errors(resource) if resource.errors.any? %>
                    </div>
                                <div class="mb-3">
                                    <p class="lead">Create an account</p>
                                </div>

                                <div class="row">
                                    <!-- First Name -->    
                                    <div class="col-md-6">
                                        
                                        <div class="form-group input-group">
                                            <% error_class = @client_user.errors[:first_name].any? ? 'parsley-error' : '' %>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                            </div>
                                             <%= f.text_field :first_name, autofocus: true, class: "form-control #{error_class}", placeholder: "First Name"  %>
                                            <%= display_parsley_error(@client_user, :first_name) %>
                                        </div> <!-- form-group// -->
                                    </div>

                                    <!-- Last Name -->
                                    <div class="col-md-6">
                                        <div class="form-group input-group">
                                            <% error_class = @client_user.errors[:last_name].any? ? 'parsley-error' : '' %>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                            </div>
                                            <%= f.text_field :last_name, autofocus: true, class: "form-control #{error_class}", placeholder: "Last Name"  %>
                                            <%= display_parsley_error(@client_user, :last_name) %>
                                        </div> <!-- form-group// -->
                                    </div>

                                    <!-- Organization -->
                                    <div class="col-md-6">
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                                            </div>
                                           <%= f.text_field :organisation, autofocus: true, class: "form-control", placeholder: "Organisation"  %>
                                        </div> <!-- form-group// -->
                                    </div>     
                                    
                                    <!-- Email Address -->
                                    <div class="col-md-6">
                                        <div class="form-group input-group">
                                             <% error_class = @client_user.errors[:email].any? ? 'parsley-error' : '' %>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                            </div>
                                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control #{error_class}", placeholder: "Email Address"  %>
                                             <%= display_parsley_error(@client_user, :email) %>
                                        </div> <!-- form-group// -->
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                            </div>
                                            <%= f.text_field :position, autofocus: true, autocomplete: "position", class: "form-control", placeholder: "Position"  %>
                                        </div> <!-- form-group// -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
                                            </div>
                                             <%= f.country_select :country, [ "US", "GB", "FR", "DE", "AE", "SA", "CN", "IN", "RU" ], {}, {class: "form-control", :id => "country_id"} %>
            <%#= f.country_select :country, ([ "GB", "FR", "DE" ]), iso_codes: true, id: :element_id, class: "form-control", autofocus: true %>
                                        </div> <!-- form-group// -->
                                    </div>
                                    <!-- Phone number -->
                                    <div class="col-md-3" style="padding-left: 0px !important;">
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                            </div>
                                            <%= f.select :country_code,[ "+971", "+972", "+198", "+701"],{},{class: "form-control", :id => "country_code_id"} %>
                                           
                                        </div> <!-- form-group// -->
                                    </div>
                                    <!-- Phone number -->
                                    <div class="col-md-4" style="padding-left: 0px !important;">
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                            </div>
                                            <%= f.telephone_field :mobile_number, autofocus: true, class: "form-control", placeholder: "Phone Number"  %>
                                        </div> <!-- form-group// -->
                                    </div> 
                                    
                                     
                                     <div class="col-md-4">
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
                                            </div>
                                            <%= f.time_zone_select :time_zone,  ActiveSupport::TimeZone.all,{},{ class: "form-control",:id=>"time_zone"} %>
                                        </div>
                                    </div>                                    

                                    <!-- Password -->
                                    <div class="col-md-6">
                                        <div class="form-group input-group">
                                            <% error_class = @client_user.errors[:password].any? ? 'parsley-error' : '' %>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                            </div>
                                            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
                                             <%= display_parsley_error(@client_user, :password) %>
                                        </div> <!-- form-group// -->
                                    </div> 
                                    
                                    <!-- Password -->
                                    <div class="col-md-6">
                                        <div class="form-group input-group">
                                            <% error_class = @client_user.errors[:password_confirmation].any? ? 'parsley-error' : '' %>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                            </div>
                                           <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Repeat Password" %>
                                            <%= display_parsley_error(@client_user, :password_confirmation) %>
                                        </div> <!-- form-group// -->
                                    </div>                                    
                                    

                                </div>
            
                                                  
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                                </div> <!-- form-group// -->  
                            </form>
            
                            <p class="text-center">Have an account? <%= link_to "Log In", new_client_user_session_path %> </p> 
                             <% end %>
                            <!-- <div class="separator-linethrough"><span>OR SIGN IN USING</span></div>
                            <ul class="its-login-social">
                                <li><button class="btn btn-signin-social"><a href="/user/auth/facebook"><i class="fa fa-facebook-official facebook-color"></i> Facebook</a></button></li>
                                <li><button class="btn btn-signin-social"><a href="/user/auth/google"><i class="fa fa-google google-color"></i> Google</a></button></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
 <%= content_for :javascript_footer do %>
  <%#= render :partial=>"user/ajax_call/index.js.erb" %>
<% end %>