<div id="FEEDBACK_TABLE" class="table-responsive">
  <table class="table table-hover table-custom spacing8" id="feedback_listing_table">
    <thead>
      <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 25%;">Name</th>
        <th style="width: 15%;">Input Language</th>
        <th style="width: 15%;">Input</th>
        <th style="width: 15%;">Output Language</th>            
        <th style="width: 15%;">Output</th>
        <th style="width: 15%;">Remarks</th>
        <th style="width: 15%;">Created Date</th>
        <th style="width: 15%;">Type</th>
      </tr>
    </thead>

    <tbody>
    <% @client_feedback.each_with_index do |feedback, i| %>
      <tr id='FEEDBACK_ROW_<%= feedback.id %>'>
          <td>
            <span><%= serial_number(i) %></span>
          </td>
          <td>
            <span><%= feedback.client_user.first_name %> <%= feedback.client_user.last_name %></span>
          </td>
          <td>
            <span><%= feedback.input.html_safe %></span>
          </td>
          <td>
            <span><%= feedback.input_language %></span>
          </td>
          <td>
            <span><%= feedback.output.html_safe %></span>
          </td>
          <td>
            <span><%= feedback.output_language %></span>
          </td>
          <td>
            <span><%= feedback.remarks %></span>
          </td>
          
          <td>
            <span><%= feedback.created_at.in_time_zone("Asia/Muscat").strftime('%d %B %Y, %H:%M') %></span>
          </td>
          <td>
            <span><%= feedback.category %></span>
          </td>

      </tr>
      <% end %>

    </tbody>
  </table>                
</div>
