<%
  if @label_template.new_record?
    form_method = :post
    form_url = admin_label_templates_path
  else
    form_method = :put
    form_url = admin_label_template_path(@label_template)
  end
%>

<%= form_with(url: form_url,  
      class: "form-floating", 
      model: @label_template,
      method: form_method, 
      html: { autocomplete: "off" }) do |f| %>

  <%= hidden_field_tag "called_from", params[:called_from] %>

  <div class="body mt-2">

    <div class="row clearfix">
      <div class="header p-3 mb-4">
        <h2><%= @label_template.new_record? ? 'Add a New LabelTemplate' : 'Edit LabelTemplate' %></h2>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Show Success / Error / Info Messages If any set by the controller action -->
        <%= flash_message(false) if defined?(flash) -%>

        <!-- Display Errors if Any
        <%# if @label_template.errors.any? %>
        <div id="TRANSLATIONS_NEW_FORM_ERRORS">
          <%#= notify_form_errors(@label_template) %>
        </div>
        <%# end %>
         -->
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12">
        
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="form-group">
              <% error_class = @label_template.errors[:input_phrase].any? ? 'parsley-error' : '' %>
              <%= f.text_field :input_phrase, class: "form-control #{error_class}", placeholder: 'Input Phrase' %>
              <%= display_parsley_error(@label_template, :input_phrase) %>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group">
              <% error_class = @label_template.errors[:input_language].any? ? 'parsley-error' : '' %>
              <select class="form-control <%= error_class %> show-tick" name='label_template[input_language]'>
                <option>--- Select ---</option>
                <option value='ENGLISH' <%= @label_template.input_language == 'ENGLISH' ? "selected='selected'" : '' %>>English</option>
                <option value='ARABIC' <%= @label_template.input_language == 'ARABIC' ? "selected='selected'" : '' %>>Arabic</option>
                <option value='FRENCH' <%= @label_template.input_language == 'FRENCH' ? "selected='selected'" : '' %>>French</option>
              </select>
              <%= display_parsley_error(@label_template, :input_language) %>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <% error_class = @label_template.errors[:input_description].any? ? 'parsley-error' : '' %>
              <%= f.text_field :input_description, class: "form-control #{error_class}", placeholder: 'Input Description' %>
              <%= display_parsley_error(@label_template, :input_description) %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">

        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="form-group">
              <% error_class = @label_template.errors[:output_phrase].any? ? 'parsley-error' : '' %>
              <%= f.text_field :output_phrase, class: "form-control #{error_class}", placeholder: 'Output Phrase' %>
              <%= display_parsley_error(@label_template, :output_phrase) %>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group">
              <% error_class = @label_template.errors[:output_language].any? ? 'parsley-error' : '' %>
              <select class="form-control <%= error_class %> show-tick" name='label_template[output_language]'>
                <option>--- Select ---</option>
                <option value='ENGLISH' <%= @label_template.output_language == 'ENGLISH' ? "selected='selected'" : '' %>>English</option>
                <option value='ARABIC' <%= @label_template.output_language == 'ARABIC' ? "selected='selected'" : '' %>>Arabic</option>
                <option value='FRENCH' <%= @label_template.output_language == 'FRENCH' ? "selected='selected'" : '' %>>French</option>
              </select>
              <%= display_parsley_error(@label_template, :output_language) %>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <% error_class = @label_template.errors[:output_description].any? ? 'parsley-error' : '' %>
              <%= f.text_field :output_description, class: "form-control #{error_class}", placeholder: 'Output Description' %>
              <%= display_parsley_error(@label_template, :output_description) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <button type="submit" class="btn btn-primary pull-right ml-2">Save</button>
        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>

<% end %>


