
<div class="row">
    <!-- First Name -->    
    <div class="col-md-6">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user">First Name</i> </span>
            </div>
            <%=  @client_user.first_name %>
        </div> <!-- form-group// -->
    </div>

    <!-- Last Name -->
    <div class="col-md-6">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user">Last Name</i> </span>
            </div>
            <%=  @client_user.last_name %>
        </div> <!-- form-group// -->
    </div>

    <!-- Organization -->
    <div class="col-md-6">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building">Organisation</i> </span>
            </div>
            <%=@client_user.organisation%>
        </div> <!-- form-group// -->
    </div>     

    <!-- Email Address -->
    <div class="col-md-6">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope">Email</i> </span>
            </div>
            <%=@client_user.email%>
        </div> <!-- form-group// -->
    </div>    

    <!-- Phone number -->
    <div class="col-md-6">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone">Mobile</i> </span>
            </div>
            <%=@client_user.mobile_number%>
        </div> <!-- form-group// -->
    </div>     

    <!-- Email Address -->
    <div class="col-md-6">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-globe">Country</i> </span>
            </div>
            <%=@client_user.country %>
        </div>                                       


    </div>
