<div id="USERS_TABLE" class="table-responsive">
  <table class="table table-hover table-custom spacing8" id="user_listing_table">
    <thead>
      <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 25%;">Name</th>
        <th style="width: 15%;">Mobile No.</th>
        <th style="width: 15%;">Organisation</th>
        <th style="width: 10%;">Country</th>
        <th style="width: 10%;">Created Date</th>
        <!-- <th style="width: 20%;">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <% if @client_users.present? %>
      <% @client_users.each_with_index do | client_user, i | %>
        <tr id='USER_ROW_<%= client_user.id %>'>
          
          <td><span><%= serial_number(i) %></span></td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                <h6 class="mb-0"><%= link_to admin_client_user_path(client_user) , remote: true do%>
                    <%=  client_user.display_name %>
                <% end %>
                </h6>
                <span><%= client_user.email %></span>
              </div>
            </div>
          </td>
          
          <td class="its-tag"><%=  number_to_phone(client_user.mobile_number) if client_user.mobile_number %></td>

          <td><%=  client_user.organisation %></td>
          <td><%=  client_user.country_name %></td>
          <td><%=  client_user.created_at.strftime("%d %b,%Y") %></td>
          
        </tr>
      <% end %>
      <%  else %>
        <tr><td colspan="6" style="text-align: center;">No result found.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>