<div class="container-fluid">

  <!-- Header -->
  <%= render partial: 'admin/label_templates/index/header' %>

  <!-- Controls -->
  

  <div class="row clearfix">
    <div class="col-lg-12">
      
      <div class="card">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#TEMPLATES_LIST">Label Templates</a></li>
          
          <li class="nav-item"  style='display: none;' id='LI_TEMPLATES_NEW_FORM'><a class="nav-link" data-toggle="tab" href="#TEMPLATES_NEW_FORM">Add  a Label Template</a></li>        
          <li class="nav-item" style='display: none;' id='LI_TEMPLATES_EDIT_FORM'><a class="nav-link" data-toggle="tab" href="#TEMPLATES_EDIT_FORM">Edit Label Template</a></li> 
          <li class="nav-item" style='display: none;' id='LI_TEMPLATES_SHOW'><a class="nav-link" data-toggle="tab" href="#TEMPLATES_SHOW">View Label Template</a></li>        
        </ul>

        <div class="tab-content mt-0">
          <!-- Table -->
          <div class="tab-pane active show" id="TEMPLATES_LIST">
              <%= render partial: 'admin/label_templates/index/controls' %>
            <%= render partial: 'admin/label_templates/index/table' %>
               <%= paginate @label_templates if @label_templates && @label_templates.any? %>
          </div>
          
          <!-- New Form -->
          <div class="tab-pane" id="TEMPLATES_NEW_FORM">
            <%#= render partial: 'admin/label_templates/form/form' %>
          </div>

          <!-- Edit Form -->
          <div class="tab-pane" id="TEMPLATES_EDIT_FORM">
          
          </div>
              <div class="tab-pane" id="TEMPLATES_SHOW">
             <%= render partial: 'admin/label_templates/show/show' %>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript_footer do %>
  <%#= render :partial=>"admin/label_templates/index/table.js.erb"  %>
  <%= render :partial=>"admin/label_templates/form/form.js.erb" %>
<% end %>