<tr id='TRANSLATIONS_ROW_<%= document.id %>'>
  <td>
    <span> - </span>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <div>
        <%= link_to document.title, "#" %> 
      </div>
    </div>
  </td>
  <td class="its-tag"><%=  document.input_language %></td>

  <td><%=  document.output_phrase %></td>
  <td><%=  document.output_language %></td>
  <td>
    <%= link_to edit_admin_document_path(document), class: "btn btn-sm btn-default", remote: true do %>
      <i class="icon-pencil"></i>
    <% end %>

    <%= link_to admin_document_path(document), class: "btn btn-sm btn-default", method: :delete, remote: true, data: {confirm: "Are you sure? Do you really want to remove this document?"} do %>
      <i class="icon-trash"></i>
    <% end %>
  </td>
</tr>