  <div class="mail-action clearfix m-l-15">
    <div class="pull-left">
      <div class="fancy-checkbox d-inline-block">
        <label>
          <input class="check-all" type="checkbox" name="checkbox">
          <span></span>
        </label>
      </div>
      
      <a href="<%= user_documents_path %>" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Refresh"><i class="fa fa-refresh"></i></a> 
      <!--
      <a href="javascript:void(0);" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Delete"><i class="icon-trash"></i></a>
      <a href="javascript:void(0);" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Archive"><i class="fa fa-archive"></i></a>
      <a href="<%= user_documents_path %>" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Refresh"><i class="icon-refresh"></i></a> 
      <a href="javascript:void(0);" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Cut"><i class="fa fa-cut"></i> </a>   
      <a href="javascript:void(0);" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Copy"><i class="icon-docs"></i> </a>   
      <a href="javascript:void(0);" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Paste"><i class="fa fa-paste"></i></a>                                    
        -->

      <div class="btn-group">
        <!-- <span>Move To -->
        <button class="btn btn-light btn-sm dropdown-toggle mr-2" type="button" data-toggle="dropdown" data-placement="top" aria-haspopup="true" aria-expanded="false" title="Move Selected Folder" >Move To</button>

        <div class="dropdown-menu">
          <div id="folder_drop">
          <% if @folders.present? %>
            <% @folders.each_with_index do |folder, i| %>

              <a class="dropdown-item" data-id="<%= folder.id %>" onClick="move_folder(<%= folder.id %>)" href="#" data-remote="true"><%= folder.title %></a>
            <% end %>
          <%end%>
          </div>
        </div>                                              
        <!-- </span> -->
      </div>
    </div>
    <div class="pull-right ml-auto">
      <div class="pagination-email d-flex">
        <!-- <p>1/100</p> -->
        <div class="btn-group m-l-20">
          <!-- <button type="button" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i></button> -->
          <!-- <button type="button" class="btn btn-default btn-sm"><i class="fa fa-angle-right"></i></button> -->
        </div>
      </div>
    </div>
  </div>

<%= content_for :javascript_footer do %>
<%= render :partial=>"user/documents/index/controls.js.erb"  %>
<% end %>