<%
  @document_folders = @current_client_user.document_folders.roots
%>

<div class="body mail-left">
  <div class="mail-side">

    <div class="mb-3 tree-folder-icon">
      <a href="#FOLDER_MODAL" class="btn btn-light btn-sm" data-toggle="modal" data-target="#FOLDER_MODAL" title="Add New Folder"><i class="fa fa-plus"></i> </a>

      <%= link_to user_documents_path(status: 'REMOVED'), title: "Delete", 'data-toggle' => 'tooltip', 'data-placement' => 'top', class: "btn btn-light btn-sm"  do %>
        <i class="fa fa-trash"></i>
      <% end %>

      <%= link_to user_documents_path(status: 'ARCHIVED'), title: "Archive", 'data-toggle' => 'tooltip', 'data-placement' => 'top', class: "btn btn-light btn-sm"  do %>
        <i class="fa fa-archive"></i> 
      <% end %>

      <%= link_to user_documents_path(recent: true), title: "Recent", 'data-toggle' => 'tooltip', 'data-placement' => 'top', class: "btn btn-light btn-sm"  do %>
        <i class="fa fa-folder-o"></i>
      <% end %>

      <!-- <a href="javascript:void(0);" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Delete"><i class="icon-trash"></i></a> -->
      <!-- <a href="javascript:void(0);" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Archive"><i class="fa fa-archive"></i></a> -->
      <!-- <a href="javascript:void(0);" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Recent"><i class="fa fa-folder-o"></i></a>  -->
    </div>

    <% if @document_folders && @document_folders.any? %>
      <ul id="tree2" class="mt-4">

        <%
          defauld_id = @document_folders.where(title: "Default").first.id if !@document_folders.where(title: "Default").blank?
        %>
        <li id="<%= defauld_id %>" ondrop="drop(event,'<%= defauld_id %>')" ondragover="allowDrop(event)">
            <i class="fa fa-folder-o"></i>
          <a href="/user/documents?folder_id=<%= defauld_id %>">Default</a> 
        </li>

        <% @document_folders.each do |folder| %>

           <% if (folder.title!='Default') %>
              <li id="<%= folder.id %>" ondrop="drop(event,'<%= folder.id %>')" ondragover="allowDrop(event)">
                <% children = folder.children %>

                <% if !children.any? %>
                  <i class="fa fa-folder-o"></i>
                <% else %>
                  <span class="fa fa-plus"></span>
                <% end %>

                <a href="/user/documents?folder_id=<%=folder.id%>"><%= folder.title %></a> 

                <% if !children.any? %>
                  <span class="fa-times tree-close-right" onClick='delete_folder("<%=folder.title%>","<%=folder.id%>")' data-toggle="tooltip" data-placement="top" title="Remove Folder">&nbsp;</span>
                  <!-- <span class="fa-plus tree-plus-right" data-toggle="modal" data-target="#FOLDER_MODAL" ></span> -->
                <% end %>
                
                <%= render partial: "user/documents/index/nested_folders", locals: {parent: folder, children: children} %>
              </li>
           <% end %>
        <% end %>

      </ul>
    <% end %>
  </div>
</div>