<div id="TRANSLATIONS_TABLE" class="table-responsive">
  <table class="table table-hover table-custom spacing8" id="document_listing_table">
    <thead>
      <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 25%;">Tittle</th>
        <th style="width: 15%;">Input Language</th>
        <th style="width: 15%;">Output Language 1</th>
        <th style="width: 15%;">Output Language 2</th>
        <th style="width: 10%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each_with_index do |document, i| %>
      <tr id='TRANSLATIONS_ROW_<%= document.id %>'>
        <td>
          <span><%= serial_number(i) %></span>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div>
              <%= link_to document.title, user_document_path(document, dt: 'template') %>
            </div>
          </div>
        </td>
        <td class="its-tag"><%=  document.input_language %></td>
        <td><%=  document.output_1_language %></td>
        <td><%=  document.output_2_language %></td>
        <td>
          <%= link_to edit_user_document_path(document), class: "btn btn-sm btn-default", remote: true do %>
          <i class="icon-pencil"></i>
          <% end %>
          <%= link_to user_document_path(document), class: "btn btn-sm btn-default", method: :delete, remote: true, data: {confirm: "Are you sure? Do you really want to remove this document?"} do %>
          <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>