<%
# Display Actions only if required - 
# No need to display when called from dashboard
display_actions = true if display_actions.nil?
%>

    
<table class="table table-hover table-custom spacing8">
  <thead>
    <tr> 
      <th></th>
      <!-- <th>#</th> -->
      <th>Title</th>
      <!-- <th>Language</th> -->
      <!-- <th>Created At</th> -->
      <!-- <th>Status</th> -->
      <th>Folder</th>
      <% if display_actions %>
        <th style="width: 10%;text-align: center;">Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody  oncontextmenu ="event.preventDefault();$('#context-menu').show();$('#context-menu').offset({'top':mouseY,'left':mouseX})">
      <% @documents.each_with_index do |document, i| %>
        <% 

        doc_folder = drag_drop_user_document_path(document, dt: document.doc_type)

        if document.doc_type == "template_document"
          icon_path = "icons/template.svg"
          doc_url = user_template_document_path(document)
          doc_type="Template Based"
          # doc_folder=update_template_folder_user_template_document_path(document)
          elsif document.doc_type == "table_document"
          icon_path = "icons/excel.svg"
          doc_url = user_table_document_path(document) 
          doc_type="Table Based"
          # doc_folder=update_table_folder_user_table_document_path(document)
          else
          doc_url = "#"
          doc_status_removed_url = "#"
          doc_status_archive_url = "#"
          doc_type=""
          end
        %>

        <tr id="<%=doc_folder%>" draggable="true" ondragstart="drag(event,'<%=doc_folder%>')">
          <td class="w20">
            <div class="md-left">
              <label class="fancy-checkbox">
                <input type="checkbox" name="doc_name[]" value="<%=doc_folder%>" class="checkbox-tick">
                  <span></span>
              </label>
            </div>
          </td>
          <td>
              <%= link_to document.title, doc_url, title: document.title %>
              <p class="mb-0"><%=doc_type%></p>
          </td>
          <td>
            <strong>
              <% if document.status == 'ACTIVE' %>
                <%  if   document.folder_id !="" then @folder = DocumentFolder.find_by_id(document.folder_id) %><%=@folder.try(:title) %><%end%>
              <% else %>
                <%= document.status.titleize %>
              <% end %>
                
            </strong>
          </td>
          <% if display_actions %>
          <td style="text-align: center;">
            <%= link_to doc_url, class: "btn btn-sm btn-default mr-4" do %>
              <i class="fa fa-edit"></i>
            <% end %>

            <%= link_to update_status_user_document_path(document, status: 'active', dt: document.doc_type), class: "btn btn-sm btn-default",  method: :put, remote: true do %>
                <i class="fa fa-check" style="color: #6c757d !important;" ></i>
            <% end if document.can_active? %>

            <%= link_to update_status_user_document_path(document, status: 'removed', dt: document.doc_type), class: "btn btn-sm btn-default", method: :put, remote: true, data: {confirm: "Are you sure? Do you really want to remove this document?"} do %>
                  <i class="fa fa-trash-o text-danger"></i>
            <% end if document.can_remove? %> 

            <%= link_to update_status_user_document_path(document, status: 'archived', dt: document.doc_type), class: "btn btn-sm btn-default", method: :put, remote: true, data: {confirm: "Are you sure? Do you really want to archived this document?"} do %>
                    <i class="fa fa-archive"></i>
            <% end if document.can_archive? %>
          </td>
          <% end %>
        </tr>

          <div class="context-menu" id="context-menu" style="display:none;position:absolute;z-index:99">
            <ul>
              <li>
                <!-- <a href="#"><i class="fa fa-pencil"></i>  Edit</a> -->
                <%= link_to doc_url do %>
                  <i class="fa fa-edit"></i>Edit
                <% end %>
              </li>
              <li>
                <%= link_to doc_status_removed_url, method: :put, remote: true, data: {confirm: "Are you sure? Do you really want to remove this document?"} do %>
                      <i class="fa fa-trash-o text-danger"></i> Delete
                <% end if document.can_remove? %> 
              </li>
              <li>
                <%= link_to doc_status_archive_url, method: :put, remote: true, data: {confirm: "Are you sure? Do you really want to archived this document?"} do %>
                        <i class="fa fa-archive"></i> Archive
                <% end if document.can_archive? %>
              </li>
            </li>
          </ul>
          </div>

    <% end %>
  </tbody>
</table>


<%#= render partial: "user/documents/index/context_menu" %>

<%#= render partial: "user/documents/index/folder_modal" %>

