<!-- Left Sidebar -->
<div id="left-sidebar" class="sidebar">

  <div class="navbar-brand">
    <%= link_to "#" do %>
      <%= image_tag "itsme-logo.png", alt: "ITSLabel Logo", class: "img-fluid logo" %>
      <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
    <% end %>
  </div>

  <div class="sidebar-scroll">
    <div class="user-account">
      <div class="admin_div">
        <%= image_tag "user.png", alt: "User Profile Picture", class: "user-photo"%>
      </div>
      <div class="dropdown">
          <span>Welcome,</span>
          <!-- add dropdown-toggle class to below to make it a drop down link -->
          <a href="javascript:void(0);" class="user-name" data-toggle="dropdown">
            <strong><%= current_admin_user.try(:email) %></strong>
          </a>
          <!-- <ul class="dropdown-menu dropdown-menu-left account vivify flipInY">
            <li><%= link_to content_tag(:i, "", class: "icon-user") + "My Profile", "#" %></li>
            <li><%= link_to content_tag(:i, "", class: "icon-settings") + "Settings", "#" %></li>
            <li class="divider"></li>
            <li><%= link_to content_tag(:i, "", class: "icon-power") + "Logout", destroy_admin_user_session_url, method: :delete %></li>
          </ul> -->
      </div>                
    </div> 

    <nav id="left-sidebar-nav" class="sidebar-nav">
      <ul id="main-menu" class="metismenu">

        <li class="header">Main</li>
        <li class="active"><%= link_to content_tag(:i, "", class: "icon-speedometer") + "home", admin_home_path %></li>
        
        <li class="header">Admin</li>
        <li><%= link_to content_tag(:i, "", class: "icon-files") + "Documents", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-users") + "Users", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-users") + "Admin", "#" %></li>
        
        <li class="header">My Account</li>
        <li><%= link_to content_tag(:i, "", class: "icon-user") + "My Profile", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-settings") + "Settings", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-power") + "Logout", destroy_admin_user_session_url, method: :delete %></li>
        

      </ul>
    </nav>     
  </div>

</div>
<!-- End Left Sidebar