<div id="left-sidebar" class="sidebar">

  <div class="navbar-brand">
    <%= link_to "#" do %>
      <%= image_tag "itsme-logo.png", alt: "ITSLabel Logo", class: "img-fluid logo" %>
      <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
    <% end %>
  </div>

  <div class="sidebar-scroll mb-3">
    <div class="user-account">
        <div class="dropdown">                        
            <a href="javascript:void(0);" class="user-name"><strong><%= current_admin_user.display_name   %></strong></a>
            <span><%= current_admin_user.try(:organisation).titleize if current_admin_user.try(:organisation)  %></span>
        </div>
    </div>


    <nav id="left-sidebar-nav" class="sidebar-nav mb-4">
      <ul id="main-menu" class="metismenu mb-4">
        <!-- <li class="header">Admin</li> -->
          <li class="active"><a href="home.html">
              <%= link_to admin_home_path do %>
                <%= image_tag "icons/home.svg", alt: "home icon"%>
                <span>Home</span>
              <% end %>
          <li>
          <li class="active"><a href="home.html">
              <%= link_to admin_client_users_path do %>
                <%= image_tag "icons/user.svg", alt: "User icon"%>
                <span>Registrations</span>
              <% end %>
          <li>
          <li class="<%= nav_active?('admin/translations') ? 'active' : '' %>"><a href="home.html">
              <a href="#" class="has-arrow" aria-expanded="false">
                  <%= image_tag "icons/language.svg", alt: "User icon"%>
                  <span>Translation Database</span></a>

              <ul aria-expanded="true" class="collapse out" style="">
                  <li>
                    <%= link_to admin_translations_path do %>
                      Manage Database
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admin_upload_translations_path do %> 
                      Upload Database
                    <% end %>
                  </li>
                  <li>
                   <%= link_to admin_translation_uploads_history_index_path do %>
                      Upload History
                    <% end %>
                  </li>
                  </li>
              </ul>
          <li>
          <li class="<%= nav_active?('admin/reports') ? 'active' : '' %>"><a href="home.html">
              <a href="#" class="has-arrow" aria-expanded="false">
                  <%= image_tag "icons/recent.svg", alt: "User icon"%>
                  <span>Reports</span></a>

              <ul aria-expanded="true" class="collapse out" style="">
                  <li>
                    <%= link_to admin_translation_query_histories_path do %> 
                      Translation History
                    <% end %>
                  </li>
                  <li> 
                   <%= link_to admin_client_feedbacks_url do %>
                     Clients Feedback 
                   <% end %> 
                  </li> 
                  <li> 
                   <%= link_to admin_translation_requests_url do %>
                     Translation Requests 
                   <% end %> 
                  </li> 
              </ul>
          <li>
          <li class="active"><a href="home.html">
              <%= link_to admin_label_templates_path do %>
                <%= image_tag "icons/template.svg", alt: "User icon"%>
                <span>Label Templates</span>
              <% end %>
          <li>
          <li class="active"><a href="home.html">
              <%= link_to "#" do %>
                <%= image_tag "icons/template.svg", alt: "User icon"%>
                <span>Nutrition Templates</span>
              <% end %>
          <li>
          <li class="active"><a href="home.html">
              <%= link_to admin_admin_users_path do %>
                <%= image_tag "icons/user.svg", alt: "User icon"%>
                <span>Admin Users</span>
              <% end %>
          <li>
        <!-- <li class="header">Reports</li>
        <li class="<%= nav_active?('admin/reports') ? 'active' : '' %>"><%= link_to content_tag(:i, "", class: "icon-folder") + "Report 1", admin_admin_users_path %></li>
        <li class="<%= nav_active?('admin/reports') ? 'active' : '' %>"><%= link_to content_tag(:i, "", class: "icon-folder") + "Report 2", admin_admin_users_path %></li> -->
        
          <li>
              <%= link_to admin_edit_profile_url do %>
                  <%= image_tag "icons/user.svg", alt: "user icon"%>
                  <span>My Profile</span>
              <% end %>
          </li>
          <!-- <li> -->
              <%#= link_to admin_subscription_permissions_url do %>
                  <%#= image_tag "icons/cart.svg", alt: "cart icon"%>
                  <!-- <span>Subscription</span> -->
              <%# end %>
          <!-- </li> -->
          <li>
              <%= link_to destroy_admin_user_session_url, method: :delete do %>
                  <%= image_tag "icons/logout.svg", alt: "logout icon"%>
                  <span>Logout</span>
              <% end %>
          </li>
          
           
      </ul>
    </nav>
  </div>
</div>