<div id="left-sidebar" class="sidebar">
  <div class="navbar-brand">
    <%= link_to "#" do %>
      <%= image_tag "itsme-logo.png", alt: "ITSLabel Logo", class: "img-fluid logo" %>
      <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
    <% end %>
  </div>
  <div class="sidebar-scroll">
      <div class="user-account">
          <div class="user_div">
              <%= image_tag "user.png", alt: "User Profile Picture", class: "user-photo" %>
          </div>
          <div class="dropdown">
              <span>Welcome,</span>
              <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong><%= current_admin_user.try(:email) %></strong></a>
                 <ul class="dropdown-menu dropdown-menu-left account vivify flipInY">
                  <li><%= link_to content_tag(:i, "", class: "icon-user") + "My Profile", "#" %></li>
                  <li><%= link_to content_tag(:i, "", class: "icon-settings") + "Settings", "#" %></li>
                  <li class="divider"></li>
                  <li><%= link_to content_tag(:i, "", class: "icon-power") + "Logout", destroy_admin_user_session_url, method: :delete %></li>
                </ul> 
          </div>                
      </div>  
      <nav id="left-sidebar-nav" class="sidebar-nav">
          <ul id="main-menu" class="metismenu">
              <li class="header">Main</li> 

              <li class="active"><%= link_to content_tag(:i, "", class: "icon-speedometer") + "Home", admin_home_path %></li>
              <li><%= link_to content_tag(:i, "", class: "icon-users") + "Client Users", admin_client_users_path %></li>
              <li><%= link_to content_tag(:i, "", class: "icon-users") + "Admin Users", admin_admin_users_path %></li>
              <!-- <li><a href="user-list.html"><i class="icon-users"></i><span>Client Users</span></a></li> -->
              <!-- <li><a href="user-list.html"><i class="icon-users"></i><span>Admin Users</span></a></li> -->
              <!-- <li><a href="page-profile.html"><i class="icon-user"></i><span>User Profile</span></a></li> -->
              <!-- <li><a href="#"><i class="icon-user-follow"></i><span>Testimonials</span></a></li> -->
              <li class="header">App</li>
              <li>
                  <a href="#Contact" class="has-arrow"><i class="icon-book-open"></i><span>Contact</span></a>
                  <ul>
                      <li><a href="#">List View</a></li>
                      <li><a href="#">Grid View</a></li>
                  </ul>
              </li>
              <li><a href="#"><i class="icon-envelope"></i><span>Email</span></a></li>
              <li><a href="#"><i class="icon-bubbles"></i><span>Messenger</span></a></li>
              <li>
                  <a href="#Project" class="has-arrow"><i class="icon-bubbles"></i><span>Project</span></a>
                  <ul>
                      <li><a href="#">Taskboard</a></li>
                      <li><a href="#">Project list</a></li>
                      <li><a href="#">Ticket List</a></li>
                      <li><a href="#">Ticket Details</a></li>
                      <li><a href="#">Clients</a></li>
                      <li><a href="#">Todo List</a></li>
                  </ul>
              </li>
              <li><a href="#"><i class="icon-calendar"></i><span>Calendar</span></a></li>


              <li class="header">Extra</li>                    
              <li><a href="#"><i class="icon-doc"></i><span>Documentation</span></a></li>
              <li><a href="#"><i class="icon-doc"></i><span>Translation</span></a></li>
          </ul>
      </nav>     
  </div>
</div>
