<div class="auth-main2">
  <div class="vivify its-login-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="display: none;">
          <div class="auth_brand m-t-60" style="text-align: center;">
            <a class="navbar-brand" href="javascript:void(0);">
              <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "d-inline-block", width: "142", height: "60" %>
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10" style="margin: 0 auto">
              <div class="card m-t-20">
                <div class="body its-login-body">
                  <div class="row">
                    <div class="col-md-6 its-login-bg">
                        <div style="width: 100%;height: 100%;display: table;">
                            <div style="width: 100%;height: 100%;display: table-cell;vertical-align: middle;">

                              <%= image_tag "keyart-2.png", alt: "Login Image", style: "max-width: 80%;" %>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 its-login-form">
                      <div class="row its-login-header">
                        <!-- Mobile Logo -->
                        <div class="col-md-4 hide-desk show-tab">
                          <div class="auth_brand"> <a class="navbar-brand" href="javascript:void(0);">
                            <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "d-inline-block" %>
                          </a> </div>
                        </div>
                         <div class="col-md-8">
                          <div class="mb-3">
                            <p class="lead">Change your password</p>
                          </div>
                        </div>
                        <div class="col-md-4 hide-mob hide-tab">
                          <div class="auth_brand">
                            <a class="navbar-brand" href="javascript:void(0);">
                              <!--                               <img src="../assets/images/itsme-logo-1.png" class="d-inline-block" alt="">
                               -->
                              <%= image_tag "itsme-logo-1.png", alt: "Login Image", class:                    "d-inline-block" %>
                            </a>
                          </div>
                        </div>
                      </div>
                      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                      <%#= render "devise/shared/error_messages", resource: resource %>
                        <%= f.hidden_field :reset_password_token %>
                        <div class="mb-3">
                              <p>Please enter your new password Here</p>
                        </div>
                        <div class="mb-3">  
                        <%= render "devise/shared/error_messages", resource: resource %>
                        </div>
                        <div class="form-group">
                          <%= f.label :password, "New password" %>                            
                          <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                          <% end %>
                          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :password_confirmation, "Confirm new password" %>
                        
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Change My Password</button>
                      <% end %>
                      <p class="text-left"><a href="/">Sign In?</a> </p>

                      <%#= render "devise/shared/links" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
