

<%
  form_url = user_csv_parse_url
  # form_url = {action: :csv_parse}
  form_method = :post
%>

<div class="modal-header" style="padding: 0px;position: absolute;right: 0px;border: none;top: -24px;right: -20px;color: #fff">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1">
  <span aria-hidden="true"><i class="icon-close" style="color: #fff"></i></span>
  </button>
</div>
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalCenterTitle">Upload CSV</h5>
</div>

<div id="UPLOAD_CSV_FORM" style="padding:20px">

  <%= form_with(url: form_url,  class: "form-floating", multipart: true,  method: form_method) do |f| %>

    
    <div class="modal-body">

      <!-- Display Errors if Any -->
      <div id="UPLOAD_CSV_FORM_ERRORS">
        <% if @errors %>
          <div class="alert alert-danger">
            <%= @errors %>
          </div>
        <% end %>
      </div>

      <div class="row its-language-switcer mb-2">
        <div class="col-md-12">
          <div class="alert alert-info">
            <p><strong>Please Note the Following:</strong></p>
            <p>* It should be a <span class='badge badge-info'>CSV</span> file (Comma Separated File).</p>
            <p>* Only data in <span class='badge badge-info'>first column</span> will be used for translation.</p>
          </div>
        </div>
      </div>

      <!-- File -->
      <div class="row">
        <div class="col-md-12 pb-4 pt-3">
          <div class="form-group row " style="">
            <label class="col-sm-12">Click below to upload from your computer
              <span class="text-color-red px-1">&nbsp;&nbsp;</span>
            </label>
            <div class="col-md-12">
              <%= file_field_tag :file %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3 its-free-language">
          <div class="form-group row " style="">
            <label class="col-sm-12">Input Language </label>
            <div class="col-md-12">
              <div class="input-group">
                <select id="CSV_INPUT_LANGUAGE" class="form-control form-control-xs selectpicker1" name="input_language" data-size="7" data-live-search="true" data-title="Location" data-width="100%">
                  <option value="ENGLISH" <%= @csv_input_language == "ENGLISH" ? "selected" : "" %> >English</option>
                  <option value="ARABIC" <%= @csv_input_language == "ARABIC" ? "selected" : "" %> >Arabic</option>
                  <option value="FRENCH" <%= @csv_input_language == "FRENCH" ? "selected" : "" %> >French</option>
                  <option value="SPANISH" <%= @csv_input_language == "SPANISH" ? "selected" : "" %> >Spanish</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> Upload </button>
    </div>

  <% end %>

</div>