
<div id="SUMMARY_TABLE" class="table-responsive">
<% if @summary %>
  <% if @summary.summary_new.empty? %>
    <span class="ml-5"> No Summary was generated </span>
  <% else %>
    <table class="table table-hover table-custom spacing8" id="table">
      <thead>
        <th scope="col" class="summary-th" >#</th>
        <th scope="col" class="summary-th" >English</th>
        <th scope="col" class="summary-th" >EN-AR</th>
        <th scope="col" class="summary-th" >EN-FR</th>
        <th scope="col" class="summary-th" >AR-FR</th>
        <th scope="col" class="summary-th" >AR-EN</th>
        <th scope="col" class="summary-th" >FR-AR</th>
        <th scope="col" class="summary-th" >FR-EN</th>
      </thead>

      <% @summary.summary_new.each_with_index do | (key, value), index | %>
        <tr>
          <td class="summary-td"><%= index + 1 %></td>
          <td class="summary-td"><%= key %></td>

          <td class="summary-td">
            <% if value['english-arabic'] == true %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% elsif value['english-arabic'].blank? %>
              <button type="button" class="btn btn-danger" data-toggle="popover" 
                title="Content Missing" 
                data-content="Content Missing">
                  <i class="fa fa-exclamation" aria-hidden="true"></i>
                </button>
            <% else %>
              <button type="button" class="btn btn-danger" data-toggle="popover" 
                title="<%= value['english-arabic']['input_phrase'] %> - <%= value['english-arabic']['output_phrase'] %>" 
                data-content="<%= value['english-arabic']['errors'].join(', ') %>">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </button>
            <% end %>
          </td>
          
          <td class="summary-td"><%= value['arabic-english'] == true ? "✅" : "⚠️" %></td>
          <td class="summary-td"><%= value['english-french'] == true ? "✅" : "⚠️" %></td>
          <td class="summary-td"><%= value['french-english'] == true ? "✅" : "⚠️" %></td>
          <td class="summary-td"><%= value['french-arabic'] == true ? "✅" : "⚠️" %></td>
          <td class="summary-td"><%= value['arabic-french'] == true ? "✅" : "⚠️" %></td>
          
        </tr>
      <% end %>
    </table>
  <% end %>
<% else %>
  <span class="ml-5"> Summary is not found. An Error Occured while CSV Parsing. </span>
<% end %>
<%= render partial: 'admin/translation_uploads_history/show/errors' %>
 
<style type="text/css">
  .summary-th {  }
  .summary-th.center { text-align: center; }
  .summary-td {  }
  .summary-td.center { text-align: center; }
</style>
