<div id="HISTORY_TABLE" class="table-responsive">
  <table class="table table-hover table-custom spacing8" id="HISTORY_listing_table">
    <thead>
      <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 25%;">Name</th>
        <th style="width: 30%;">Created Date</th>
        <th style="width: 15%;">File Name</th>
        <th style="width: 15%;">Action</th>
      </tr>
    </thead>

    <tbody>
          <% @history.each do |history| %>
      <tr id='HISTORY_ROW_<%= history.id %>'>
          <td>
            <span><%= history.id %></span>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                  <%= history.admin_user %>
               </div>
            </div>
          </td>
          <td><%=history.created_at.strftime('%d %B %Y %T %p') %></td>
          <td><%=  history.file_path %></td>
          <td> 
           <%= link_to admin_translation_uploads_history_path(history), class: "btn btn-sm btn-default" do %>
            <i class="fa fa-eye" title="View Summary" data-toggle= 'tooltip', data-placement='top'></i>
          <% end %>
          <%= link_to "/imported_files/#{history.file_path}", class: "btn btn-sm btn-default" do %>
            <i class="fa fa-download" title="Download File" data-toggle= 'tooltip', data-placement='top'></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>                
</div>


