<div id="HISTORY_TABLE" class="table-responsive">
  <table class="table table-hover table-custom spacing8" id="HISTORY_listing_table">
    <thead>
      <tr>
        <th style="width: 25%;">CSV File Name</th>
        <th style="width: 25%;">Uploaded By (Admin)</th>
        <th style="width: 25%;">Uploaded At</th>
        <th style="width: 25%;"></th> 
      </tr>
    </thead>

   <tbody>
    <% @upload_histories.each do |history| %>
      <tr id='HISTORY_ROW_<%= history.id %>'>
       <td>
         <%= link_to history.file_path.split("/").last, admin_translation_uploads_history_path(history)%>
       </td>
       <td> <%= history.admin_user %> </td>
       <td> <%=history.created_at.in_time_zone("Asia/Muscat").strftime('%d %B %Y, %H:%M') %> </td>
       <td> 
        <%= link_to admin_translation_uploads_history_path(history), class: "btn btn-sm btn-default" do %>
         <i class="fa fa-eye" title="View Summary" data-toggle= 'tooltip', data-placement='top'></i>
        <% end %>
        <%= link_to "/imported_files/#{history.file_path.split("/").last}", class: "btn btn-sm btn-default" do %>
         <i class="fa fa-download" title="Download File" data-toggle= 'tooltip', data-placement='top'></i>
        <% end %>
       </td>
      </tr>
    <% end %>
   </tbody>
  </table>                
</div>


