<%
  if @folder.new_record?
    form_method = :post
    form_url = user_document_folder_index_path
    #@folder.status = LookUp::Base::INACTIVE
  else
    form_method = :put
    form_url = user_document_folder_path(@folder)
  end
%>

<%= form_with(url: form_url, 
              id: "form_client_users", 
              class: "form-floating", 
              model:@folder,
              method: form_method) do |f| %>

  <%= hidden_field_tag :t, params[:t] %>

<!--   <div class="modal-header">
    <h4 class="modal-title text-center left" id="addContact">Add Folder</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ><span>×</span></button>
  </div> -->

<div class="modal-header" style="padding: 0px;position: absolute;right: 0px;border: none;top: -24px;right: -20px;color: #fff">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1">
  <span aria-hidden="true"><i class="icon-close" style="color: #fff"></i></span>
  </button>
</div>

<div class="modal-header">
  <h5 class="modal-title" id="exampleModalCenterTitle"><%= (@folder.new_record? ? 'Add Folder' : 'Edit Folder') %></h5>
</div>
<!-- Display Errors if Any -->
<%#= felix_compact_form_errors(@client_user) if@folder.errors.any? %>

<%= flash_message(false) if defined?(flash) -%>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
<!--         <label>Folder Name</label>
        <div class="input-group">
          <input id="FOLDER_TITLE" type="text" class="form-control" placeholder="Folder Name" name="FOLDER_TITLE"/>
        </div> -->

        <label>Folder Name</label>
        <div class="input-group">
          <%= f.text_field :title, class: "form-control", placeholder: 'Folder Name',required:'' %>
        </div>

      </div>
      <div class="col-md-12 mt-3">
        <label>Parent Folder</label>
        <div class="input-group mb-3">
          <select class="form-control form-control-xs selectpicker1" name="document_folder[parent_id]" data-size="7" id='FOLDER_PARENT_ID'  data-width="100%" >
            <option value=""> Select Parent Folder </option>
            <% @folders.each_with_index do |folder, i| %>
              <% if (folder.title!='Default') %>
                <% if @folder.parent %>
                  <option value="<%= folder.id %>" <%= @folder.parent.id == folder.id ? 'selected="selected"' : '' %> ><%= folder.title %></option>
                <% else %>
                  <option value="<%= folder.id %>" ><%= folder.title %></option>
                <% end %>
              <% end %>
            <%  end if @folders && @folders.any?%>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a class="btn btn-secondary cancel" data-dismiss="modal" style="color: #fff; ">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

<% end %>