<%
  if @translation.new_record?
    form_method = :post
    form_url = admin_translations_path
  else
    form_method = :put
    form_url = admin_translation_path(@translation)
  end
%>

<div id="<%= dom_id_for(:form) %>">

<%= form_with(url: form_url,  class: "form-floating", model: @translation  method: form_method, html: { autocomplete: "off" }) do |f| %>

  <%= hidden_field_tag "called_from", params[:called_from] %>

    <div id="<%= dom_id_for(:form) %>_ERRORS">
      <!-- Display Errors if Any -->
      <%= felix_compact_form_errors(@translation) if @translation.errors.any? %>
    </div>



    <div class="body mt-2">
      <div class="row clearfix">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <%= f.text_field :input_phrase, class: "form-control", placeholder: 'Input Phrase' %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <!-- <input type="text" class="form-control" placeholder="Last Name"> -->
              <%= f.text_field :input_description, class: "form-control", placeholder: 'Input Description' %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
              <!-- <input type="text" class="form-control" placeholder="Email ID *"> -->
              <%= f.text_field :input_language, class: "form-control", placeholder: 'Input Description' %>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
              <!-- <input type="text" class="form-control" placeholder="Password"> -->
              <%= f.text_field :output_phrase, class: "form-control", placeholder: 'Input Description' %>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
              <!-- <input type="text" class="form-control" placeholder="Confirm Password"> -->
              <%= f.text_field :output_description, class: "form-control", placeholder: 'Input Description' %>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
              <!-- <input type="text" class="form-control" placeholder="Mobile No"> -->
              <%= f.text_field :output_description, class: "form-control", placeholder: 'Input Description' %>
            </div>
          </div>                            

          <div class="col-12">
            <button type="button" class="btn btn-primary pull-right ml-2">Save</button>
            <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>
          </div>
      </div>
    </div>



      </div>
    </div>
<% end %>


