<%
  if @translation.new_record?
    form_method = :post
    form_url = admin_translations_path
  else
    form_method = :put
    form_url = admin_translation_path(@translation)
  end
%>

<%= form_with(url: form_url,  
      class: "form-floating", 
      model: @translation,
      method: form_method, 
      html: { autocomplete: "off" }) do |f| %>

  <%= hidden_field_tag "called_from", params[:called_from] %>

  <div class="body mt-2">

    <div class="row clearfix">
      <div class="header p-3 mb-4">
        <h2><%= @translation.new_record? ? 'Add a New Translation' : 'Edit Translation' %></h2>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Show Success / Error / Info Messages If any set by the controller action -->
        <%= flash_message(false) if defined?(flash) -%>

        <!-- Display Errors if Any
        <%# if @translation.errors.any? %>
        <div id="TRANSLATIONS_NEW_FORM_ERRORS">
          <%#= notify_form_errors(@translation) %>
        </div>
        <%# end %>
         -->
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-9 col-md-9 col-sm-12">
        
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="form-group">
              <% error_class = @translation.errors[:english_phrase].any? ? 'parsley-error' : '' %>
              <%= f.text_field :english_phrase, class: "form-control #{error_class}", placeholder: 'English Phrase' %>
              <%= display_parsley_error(@translation, :english_phrase) %>
            </div>
          </div>
          
          
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12">

        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="form-group">
              <% error_class = @translation.errors[:arabic_phrase].any? ? 'parsley-error' : '' %>
              <%= f.text_field :arabic_phrase, class: "form-control #{error_class}", placeholder: 'Arabic Phrase' %>
              <%= display_parsley_error(@translation, :arabic_phrase) %>
            </div>
          </div>
          
      </div>
    </div>

       <div class="col-lg-9 col-md-9 col-sm-12">

        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="form-group">
              <% error_class = @translation.errors[:french_phrase].any? ? 'parsley-error' : '' %>
              <%= f.text_field :french_phrase, class: "form-control #{error_class}", placeholder: 'French Phrase' %>
              <%= display_parsley_error(@translation, :french_phrase) %>
            </div>
          </div>
          
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <button type="submit" class="btn btn-primary pull-right ml-2">Save</button>
        <button type="button" class="btn btn-secondary pull-right cancel" data-dismiss="modal">
          Cancel</button>
      </div>
    </div>
  </div>

<% end %>


