<h1>Editing Admin User</h1>

<%= form_for @admin_user, url: {action: :update} do |form| %>   

<div class="tab-content mt-0">
                            
                            
                                <div class="body mt-2">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <%= form.text_field :first_name,class:"form-control",placeholder:"First Name *" %>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <%= form.text_field :last_name,class:"form-control",placeholder:"Last Name *" %>
                                                
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <%= form.text_field :email,class:"form-control",placeholder:"email *" %>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <%= form.password_field :password,class:"form-control",placeholder:"Password *" %>
                                               
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group hidden">
                                                <%= form.password_field :confirm_password,class:"form-control",placeholder:"Confirm Password *" %>
                                               
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <%= form.text_field :phone,class:"form-control",placeholder:"Mobile No" %>
                                                
                                            </div>
                                        </div>                            
            
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                
                                                <%= form.text_field :organisation,class:"form-control",placeholder:"Organisation" %>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 hidden">
                                            <div class="form-group">                                   
                                                <input type="text" class="form-control" placeholder="Username *">
                                            </div>
                                        </div>
                                        
            
                                        <div class="col-12 hidden">
                                           
                                             <%= form.submit 'Update',class:"btn btn-primary" %>
                                          <%= link_to 'CLOSE', { controller: 'admin_users', action: 'index'},class:"btn btn-secondary" %>  
                                          
                                        </div>
                                    </div>
                                </div>
                           
  
<% end %> 
