<head>

  <title><%= page_title || "ITSLabel.me" -%></title>

  <%= meta_tags -%>
  <%= csrf_meta_tags -%>
  <%= csp_meta_tag -%>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->

  <%= favicon_link_tag '/images/favicon.ico' %>
  
  <!-- <link rel='icon' href='/favicon-96x96.png'  type="image/x-icon">
  <link rel='icon' href='/favicon-32x32.png'  type="image/x-icon">
  <link rel='icon' href='/favicon-16x16.png'  type="image/x-icon"> -->

  <!-- <link rel='icon' href='a/pple-icon-57x57.png' type="image/x-icon">
  <link rel='icon' href='a/pple-icon-60x60.png' type="image/x-icon">
  <link rel='icon' href='a/pple-icon-72x72.png' type="image/x-icon">
  <link rel='icon' href='a/pple-icon-76x76.png' type="image/x-icon">
  <link rel='icon' href='a/pple-icon-114x114.png' type="image/x-icon">
  <link rel='icon' href='a/pple-icon-120x120.png' type="image/x-icon">
  <link rel='icon' href='a/pple-icon-144x144.png' type="image/x-icon">
  <link rel='icon' href='a/pple-icon-152x152.png' type="image/x-icon">
  <link rel='icon' href='a/pple-icon-180x180.png' type="image/x-icon">
  <link rel='icon' href='a/ndroid-chrome-192x192.png' type="image/x-icon">
  <link rel='icon' href='a/ndroid-chrome-256x256.png' type="image/x-icon"> -->

  <%#= favicon_link_tag 'fav.png', type: 'image/png' %>
  <%#= favicon_link_tag 'apple-icon-57x57.png' %>
  <%#= favicon_link_tag 'apple-icon-60x60.png' %>
  <%#= favicon_link_tag 'apple-icon-72x72.png' %>
  <%#= favicon_link_tag 'apple-icon-76x76.png' %>
  <%#= favicon_link_tag 'apple-icon-114x114.png' %>
  <%#= favicon_link_tag 'apple-icon-120x120.png' %>
  <%#= favicon_link_tag 'apple-icon-144x144.png' %>
  <%#= favicon_link_tag 'apple-icon-152x152.png' %>
  <%#= favicon_link_tag 'apple-icon-180x180.png' %>
  <%#= favicon_link_tag 'android-icon-192x192.png' %>
  <%#= favicon_link_tag 'favicon-32x32.png' %>
  <%#= favicon_link_tag 'favicon-96x96.png' %>
  <%#= favicon_link_tag 'favicon-16x16.png' %>

  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
  
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f8ae4c">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#0152a1">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>



