<tr id='TEMPLATES_ROW_<%= label_template.id %>'>
  <td>
    <span> - </span>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <div>
        <%= link_to  admin_label_template_path(label_template), remote: true do %>
        <%= label_template.name %>
        <% end  %>
      </div>
    </div>
  </td>
  <td class="its-tag"><%=  label_template.description[0..40] %></td>
  <td><%=  label_template.style %></td>
  <td><%=  label_template.admin_user.try(:display_name) %></td>
  <td>
    <%= link_to edit_admin_label_template_path(label_template), class: "btn btn-sm btn-default", remote: true do %>
    <i class="icon-pencil"></i>
    <% end %>
    <%= link_to admin_label_template_path(label_template), class: "btn btn-sm btn-default", method: :delete, remote: true, data: {confirm: "Are you sure? Do you really want to remove this label_template?"} do %>
    <i class="icon-trash"></i>
    <% end %>
  </td>
</tr>