<div id="TEMPLATES_TABLE" class="table-responsive">
  <table class="table table-hover table-custom spacing8" id="label_template_listing_table">
    <thead>
      <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 25%;">Name</th>
        <th style="width: 30%;">Description</th>
        <th style="width: 15%;">Style</th>
        <th style="width: 15%;">Created By</th>
        <th style="width: 10%;">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @label_templates.each_with_index do |label_template, i| %>
      <tr id='TEMPLATES_ROW_<%= label_template.id %>'>
          <td>
            <span><%= serial_number(i) %></span>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                <%= link_to label_template.name, "#" %> 
              </div>
            </div>
          </td>
          <td class="its-tag"><%=  label_template.description[0..40] %></td>

          <td><%=  label_template.style %></td>
          <td><%=  label_template.admin_user.try(:display_name) %></td>
          <td>
            <%= link_to edit_admin_label_template_path(label_template), class: "btn btn-sm btn-default", remote: true do %>
              <i class="icon-pencil"></i>
            <% end %>

            <%= link_to admin_label_template_path(label_template), class: "btn btn-sm btn-default", method: :delete, remote: true, data: {confirm: "Are you sure? Do you really want to remove this label_template?"} do %>
              <i class="icon-trash"></i>
            <% end %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>                
</div>


