<div class="auth-main2 particles_js">
    <div class="auth_div vivify fadeInTop">
        <div class="card">            
            <div class="body">
                <div class="login-img">
                    <%= image_tag "login-img.png", alt: "Login Image", class: "img-fluid" %>
                </div>
                <!-- <form class="form-auth-small" action="index.html"> -->
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-auth-small'}) do |f| %>

                  <div id="USER_LOGIN_ERRORS">
                    <!-- Display Errors if Any -->
                    <%= felix_compact_form_errors(resource) if resource.errors.any? %>
                  </div>

                    <div class="mb-3">
                        <p class="lead">Login to your account</p>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                      <%= f.label :emails, :class => "control-label sr-only" %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "signin-email", placeholder: "Email" %>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                      <%= f.label :password, :class => "control-label sr-only" %>
                      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "signin-password", placeholder: "Password" %>
                    </div>

                    <!-- Remember Me -->
                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input type="checkbox">
                            <span>Remember me</span>
                        </label>                
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
                    <div class="mt-4">
                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> 
                          <%= link_to "Forgot password?", new_client_user_password_path %>
                        </span>
                        <span>
                          Don't have an account? 
                          <%= link_to "Register", new_client_user_registration_path %>
                        </span>
                    </div>
                <% end %>
                <!-- </form> -->
                <div class="pattern">
                    <span class="red"></span>
                    <span class="indigo"></span>
                    <span class="blue"></span>
                    <span class="green"></span>
                    <span class="orange"></span>
                </div>
            </div>            
        </div>
    </div>
    <div id="particles-js"></div>
</div>
<!-- END WRAPPER -->
