<!-- Left Sidebar -->
<div id="left-sidebar" class="sidebar">

  <div class="navbar-brand">
    <%= link_to "#" do %>
      <%= image_tag "itsme-logo.png", alt: "ITSLabel Logo", class: "img-fluid logo" %>
      <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
    <% end %>
  </div>

  <div class="sidebar-scroll">
    <div class="user-account">
        <div class="dropdown">                        
            <a href="javascript:void(0);" class="user-name"><strong><%= current_client_user.display_name   %></strong></a>
            <span><%= current_client_user.try(:organisation).titleize if current_client_user.try(:organisation)  %></span>
        </div>
    </div>


  <nav id="left-sidebar-nav" class="sidebar-nav">
      <ul id="main-menu" class="metismenu">
          <li class="active"><a href="home.html">
              <%= link_to user_home_path do %>
                <%= image_tag "icons/home.svg", alt: "home icon"%>
                <span>Home</span>
              <% end %>
          <li class="active">
              <a href="#" class="has-arrow" aria-expanded="true">
                  <%= image_tag "icons/language.svg", alt: "home icon"%>
                  <span>New Translation</span></a>
              <ul aria-expanded="true" class="collapse in" style="">
                  <li>
                    <%= link_to user_free_form_path do %>
                      Free Form
                    <% end %>
                  </li>
                  <li>
                    <%= link_to select_template_user_template_documents_path do %>
                      Template Based
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_table_document_path do %>
                      Table Based
                    <% end %>
                  </li>
              </ul>
          </li>
          <li>
              <%= link_to user_documents_path do %>
                  <%= image_tag "icons/all.svg", alt: "all translation icon"%>
                  <span>Your Translations </span>
              <% end %>
          </li>
<!--           <li>
              <%#= link_to user_documents_path(recent: true) do %>
                  <%#= image_tag "icons/recent.svg", alt: "recent icon"%>
                  <span>Recent</span>
              <%# end %>
          </li> -->

          <li class="header">My Account</li>

          <li>
              <%= link_to user_edit_client_profile_url do %>
                  <%= image_tag "icons/user.svg", alt: "user icon"%>
                  <span>My Profile</span>
              <% end %>
          </li>          
          <li> 
              <%= link_to "#{Rails.application.secrets.zoho_client_portel_url}", target: :_blank do %>
                  <%= image_tag "icons/client-portal.svg", alt: "user icon"%>
                  <%#= image_tag "icons/client-portal.svg", alt: "user icon", size: "18x18" %>
                  <%#= image_tag "icons/client-portal.svg", alt: "user icon", height: "50", width: "50" %>
                  <span>Client Portal</span>
              <% end %>
          </li>
          <li>
              <%= link_to user_user_subscriptions_url do %>
                  <%= image_tag "icons/cart.svg", alt: "cart icon"%>
                  <span>Subscription</span>
              <% end %>
          </li>
          <li>
              <%= link_to destroy_client_user_session_url, method: :delete do %>
                  <%= image_tag "icons/logout.svg", alt: "logout icon"%>
                  <span>Logout</span>
              <% end %>
          </li>
      </ul>
  </nav>







    
  </div>

</div>
<!-- End Left Sidebar