<!-- Left Sidebar -->
<div id="left-sidebar" class="sidebar">

  <div class="navbar-brand">
    <%= link_to "#" do %>
      <%= image_tag "itsme-logo.png", alt: "ITSLabel Logo", class: "img-fluid logo" %>
      <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
    <% end %>
  </div>

  <div class="sidebar-scroll">
    <div class="user-account">
      <div class="user_div">
        <%= image_tag "user.png", alt: "User Profile Picture", class: "user-photo"%>
      </div>
      <div class="dropdown">
          <span>Welcome,</span>
          <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Krishna</strong></a>
          <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
            <li><%= link_to content_tag(:i, "", class: "icon-user") + "My Profile", "#" %></li>
            <li><%= link_to content_tag(:i, "", class: "icon-envelope-open") + "Messages", "#" %></li>
            <li><%= link_to content_tag(:i, "", class: "icon-settings") + "Settings", "#" %></li>
            <li class="divider"></li>
            <li><%= link_to content_tag(:i, "", class: "icon-power") + "Logout", "#" %></li>
          </ul>
      </div>                
    </div> 

    <nav id="left-sidebar-nav" class="sidebar-nav">
      <ul id="main-menu" class="metismenu">
        <li class="header">Translation</li>
        <li><%= link_to content_tag(:i, "", class: "icon-plus") + "New Translation", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-folder") + "Documents", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "fa fa-star") + "Favorites", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-trash") + "Trash", "#" %></li>
        
        <li class="header">Main</li>
        <li class="active"><%= link_to content_tag(:i, "", class: "icon-speedometer") + "Dashboard", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-user") + "User Profile", "#" %></li>
        
        <li class="header">App</li>
        <li>
          <a href="#Contact" class="has-arrow"><i class="icon-book-open"></i><span>Contact</span></a>
          <ul>
            <li><%= link_to "List View", "#" %></li>
            <li><%= link_to "Grid View", "#" %></li>
          </ul>
        </li>

        <li><%= link_to content_tag(:i, "", class: "icon-envelope") + "Email", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-bubbles") + "Messenger", "#" %></li>
        <li><%= link_to content_tag(:i, "", class: "icon-calendar") + "Calendar", "#" %></li>

        <li class="header">Extra</li>                    
        <li><%= link_to content_tag(:i, "", class: "icon-doc") + "Documentation", "#" %></li>
      </ul>
    </nav>     
  </div>

</div>
<!-- End Left Sidebar -->