<div class="row pb-4">
  <div class="form-group col-md-12">
    <input type="text" class="form-control" value="<%= @document.try(:title) %>" required="">
  </div>
  <div class="form-group col-md-6">
      <div class="input-group mb-3">
          <select class="form-control">
              <option value="">-- Choose --</option>
              <option value='ENGLISH' <%= @document.try(:input_language) == 'ENGLISH' ? "selected='selected'" : '' %>>English</option>
              <option value='ARABIC' <%= @document.try(:input_language) == 'ARABIC' ? "selected='selected'" : '' %>>Arabic</option>
              <option value='FRENCH' <%= @document.try(:input_language) == 'FRENCH' ? "selected='selected'" : '' %>>French</option>
          </select>
      </div>
  </div>
  <div class="form-group col-md-6">
      <div class="input-group mb-3">
          <select class="form-control">
              <option value="">-- Choose --</option>
              <option value='ENGLISH' <%= @document.try(:output_1_language) == 'ENGLISH' ? "selected='selected'" : '' %>>English</option>
              <option value='ARABIC' <%= @document.try(:output_1_language) == 'ARABIC' ? "selected='selected'" : '' %>>Arabic</option>
              <option value='FRENCH' <%= @document.try(:output_1_language) == 'FRENCH' ? "selected='selected'" : '' %>>French</option>
          </select>
      </div>
  </div>
</div>