  <div class="row clearfix">
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="icon-folder"></i></div> -->
            <div class="ml-3">
              <span>EN - AR</span>
              <h4 class="mb-0 pt-2 font-weight-medium"> <%= @en_ar %> </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-orange text-white rounded-circle"><i class="icon-docs"></i></div> -->
            <div class="ml-3">
              <span>EN - FR</span>
              <h4 class="mb-0 pt-2 font-weight-medium">  <%= @en_fr %>  </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-pink text-white rounded-circle"><i class="icon-tag"></i></div> -->
            <div class="ml-3">
              <span>AR - EN</span>
              <h4 class="mb-0 pt-2 font-weight-medium">  <%= @ar_en %>  </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-indigo text-white rounded-circle"><i class="icon-users"></i></div> -->
            <div class="ml-3">
              <span>AR - FR</span>
              <h4 class="mb-0 pt-2 font-weight-medium">  <%= @ar_fr %>  </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="icon-folder"></i></div> -->
            <div class="ml-3">
              <span>FR - EN</span>
              <h4 class="mb-0 pt-2 font-weight-medium">  <%= @fr_en %>  </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-orange text-white rounded-circle"><i class="icon-docs"></i></div> -->
            <div class="ml-3">
              <span>FR - AR </span>
              <h4 class="mb-0 pt-2 font-weight-medium">  <%= @fr_ar %>  </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-orange text-white rounded-circle"><i class="icon-docs"></i></div> -->
            <div class="ml-3">
              <span>ES - EN </span>
              <h4 class="mb-0 pt-2 font-weight-medium">  <%= @es_en %>  </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-orange text-white rounded-circle"><i class="icon-docs"></i></div> -->
            <div class="ml-3">
              <span>ES - AR </span>
              <h4 class="mb-0 pt-2 font-weight-medium">  <%= @es_ar %>  </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="card">
        <div class="body">
          <div class="d-flex align-items-center">
            <!-- <div class="icon-in-bg bg-orange text-white rounded-circle"><i class="icon-docs"></i></div> -->
            <div class="ml-3">
              <span>ES - FR </span>
              <h4 class="mb-0 pt-2 font-weight-medium">  <%= @es_fr %>  </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>