<tr id='USER_ROW_<%= admin_user.id %>'>
  <td>
    <span> - </span>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <div>
        <h6 class="mb-0"><%= admin_user.display_name %></h6>
          <span><%= admin_user.email %></span> 
      </div>
    </div>
  </td>
  <td class="its-tag"><%=  admin_user.phone %></td>

  <td><%=  admin_user.created_at %></td>
  <td><%=  admin_user.organisation %></td>
  <td>
    <%= link_to edit_admin_admin_user_path(admin_user), class: "btn btn-sm btn-default", remote: true do %>
      <i class="icon-pencil"></i>
    <% end %>

    <%= link_to admin_admin_user_path(admin_user), class: "btn btn-sm btn-default", method: :delete, remote: true, data: {confirm: "Are you sure? Do you really want to remove this translation?"} do %>
      <i class="icon-trash"></i>
    <% end %>
  </td>
</tr>