<%
  form_method = :post
  form_url = user_client_feedbacks_path
%>

    <style>
        .tex-container {
            max-width: 820px;
            margin: 0px auto;
            margin-top: 50px;
        }

        .tex-comment {
            float: left;
            width: 100%;
            height: auto;
        }

        .commenter {
            float: left;
        }

        .commenter img {
            width: 35px;
            height: 35px;
        }

        .comment-text-area {
            float: left;
            width: 100%;
            height: auto;
        }

        .tex-textinput {
            float: left;
            width: 100%;
            min-height: 75px;
            outline: none;
            resize: none;
            border: 1px solid grey;
        }
    </style>

<%= form_with(url:form_url,class: "form-floating",model:@client_feedback,method:form_method) do |f| %>


    <div class="modal-header" >
      <h4 class="modal-title">Report An Issue</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" >
      <%= f.hidden_field :input, value: @input %>
      <%= f.hidden_field :output, value: @output %>
      <%= f.hidden_field :input_language, value: @input_language %>
      <%= f.hidden_field :output_language, value: @output_language %>
      <div class="row">
        <!-- Input -->
        <div class="col-md-6" id="input">
           <div class="form-group row " style="">
            <label class="col-sm-6">Input [ <%= @input_language %> ]</label>
 
            <div class="col-md-12">
              <div class="square" style="border-color: #8e8c8c;"><%= @input.html_safe %></div>
            </div>
          </div>
        </div>

        <!-- Output -->
        <div class="col-md-6" id="output">
          <div class="form-group row " style="">
            <label class="col-sm-12">Output [ <%= @output_language %> ] 
            </label>
            <div class="col-md-12">
              <div class="square" style="border-color: #8e8c8c;"><%= @output.html_safe %></div>
               
            </div>
          </div>        
        </div>

        <!-- Remarks -->
        <div class="col-md-12">
          <div class="form-group row tex-container" style="">
            <label class="col-sm-12">Remarks
              <span class="text-color-red px-1">&nbsp;&nbsp;</span>
            </label>
            <div class="tex-comment">
               <strong><%= f.text_area :remarks , :class => "form-controll tex-textinput" , style: "border-color: #8e8c8c;" %></strong>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row " style="">
            <label class="pl-3">User:</label>
            <strong class="pl-1" style="align-items: center;"><%= @current_client_user.display_name %></strong>        
          </div>
        </div>  
        <div class="col-md-6">
          <div class="form-group row " style="">
            <label> Date & Time: </label>
            <strong class="pl-1"><%= Time.now.in_time_zone("Asia/Muscat").strftime('%d %B %Y, %H:%M') %></strong>         
          </div>
        </div>  
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> Submit </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  <% end %>
     
<style type="text/css">
  .square {
  width: 225px;
  height: 100px;
  border: 1px solid black;
  text-align: left ;
  padding:10px;

}
</style>