<%= form_tag(save_and_translate_user_template_document_path(@document), 
              method: :put, class: "form-floating",
              id: "DOCUMENT_TRANSLATE_FORM", remote: true,
              html: { autocomplete: "off" }) do |f| %>

<!-- To identify document type -->
<% template_id = params[:template_id] || @document.template_id %>
<%= hidden_field_tag "template_id", template_id %>


<div class="row clearfix its-upload-container">
  <div class="col-lg-12 col-md-12">
    <div class="card1">
      <div class="body1">

        <div class="mt-2">

          <div class="row its-language-switcer mb-2">

            <div class="col-md-12">
              <div class="mb-4 text-center">
                <h3>Translate with Template</h3>
                <p>Edit the text in the template and Cick on <span class='badge badge-info'>Translate & Save</span> button below to Translate and Save. </p>
              </div>
              <div class="form-group" style="text-align:center;">
                <button class="btn btn-primary btn-lg mt-1 mb-1" type="submit"><i class='fa fa-save mr-2'></i>TRANSLATE & SAVE</button>
                <%#= link_to '#', class: "btn btn-secondary btn-lg mt-1 mb-1", target: "_blank", onclick: 'print()' do %>
                  <!-- <i class='fa fa-print mr-2'></i>PRINT -->
                <%# end %>
              </div>
            </div>
            
            <div class="col-md-12">
              <fieldset style="background-color: #fff;">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Document Title</label>
                    <input type="text" class="form-control" name="document[title]" value="<%= @document.title %>" required="">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Input Language</label>
                    <div class="input-group mb-3">
                      <select class="form-control form-control-xs selectpicker1" name="document[input_language]" data-size="7" data-live-search="true" data-title="Location" id="INPUT_LANGUAGE" data-width="100%">
                        <option value="ENGLISH" <%= @input_language == "ENGLISH" ? "selected" : "" %> >English</option>
                        <option value="ARABIC" <%= @input_language == "ARABIC" ? "selected" : "" %> >Arabic</option>
                        <option value="FRENCH" <%= @input_language == "FRENCH" ? "selected" : "" %> >French</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Output Language</label>
                    <div class="input-group mb-3">
                      <select class="form-control form-control-xs selectpicker1" name="document[output_language]" data-size="7" data-live-search="true" data-title="Location" id="OUTPUT_LANGUAGE" data-width="100%">
                        <option value="ENGLISH" <%= @output_language == "ENGLISH" ? "selected" : "" %> >English</option>
                        <option value="ARABIC" <%= @output_language == "ARABIC" ? "selected" : "" %> >Arabic</option>
                        <option value="FRENCH" <%= @output_language == "FRENCH" ? "selected" : "" %> >French</option>
                      </select>
                    </div>
                  </div>
                </div>
                  <div class="row">
                     <div class="form-group col-md-6">
                    <label>Document Folder</label>
                    <div class="input-group mb-3">
                      <select class="form-control form-control-xs selectpicker1" name="document[folder_id]" data-size="7" data-live-search="true" data-title="Location" id="OUTPUT_LANGUAGE" data-width="100%">
                          <option value="">--Please Select Document Folder</option>
                          <% if @document_folders.present? %>
                          <% @document_folders.each_with_index do |folder, i| %>
                          
                          <option value="<%=folder.id%>" <%= @document.folder_id == folder.id ? "selected" : "" %>><%=folder.title%></option>
                          <%  end %>
                          <% end  %>
                      </select>
                    </div>
                  </div>
                      
                  </div>
              </fieldset>
            </div>

          </div>

          <div class="row pb-4">
            <div class="col-md-6">

              <% 
                source_html = @document.try(:input_html_source).to_s
                formatted_source_html = source_html.gsub("{LOGO_URL}", asset_url("defaults/distributor-logo.jpg")) 
              %>
              
              <textarea class="tinymce-editor" id="input_tinymce" name='document[input_html_source]'>


                <%= raw(formatted_source_html) %>
              </textarea>
            </div>
            <div class="col-md-6">
              <div class="holder" style="height:500px;background-color:#fff;">
                
                <% id = @document.try(:id) || -1 %>

                <div class="body" style="padding: 0px;border-radius: 0px;">
                  <div class="table-responsive its-preview-table">
                    <div class="its-preview-header">
                      <div class="its-preview-header-top">
                        <ul>
                          <li>
                            <%= link_to "#", onclick: "print()" do %>
                              <%= image_tag("icons/preview.svg") %>
                              <span>Preview</span>
                            <% end %>
                          </li>

                          <li>
                            <%= link_to "#", onclick: "directPrint()" do %>
                              <%= image_tag("icons/download.svg") %>
                              <span>Download</span>
                            <% end %>
                          </li>
                          
                          <li>
                            <%= link_to "#", onclick: "directPrint()" do %>
                              <%= image_tag("icons/print.svg") %>
                              <span>Print</span>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div style="background:#f6f6f6;;padding: 0px 0px 0px 0px;">
                      <iframe id="DOC_PREVIEW" name='preview_frame' frameborder="0" scrolling="yes" src="<%= preview_user_template_document_path(id: id, template_id: @template.try(:id)) %>">
                      </iframe>
                    </div>
                  </div>
                </div>

                <!-- <div style="background-color:#fff;border:10px solid #e5f3e5;border-top:80px solid #e5f3e5; height:100%;">
                  
                  <iframe id="DOC_PREVIEW" frameborder="0" scrolling="yes" src="<%= preview_user_template_document_path(id: id, template_id: @template.try(:id)) %>">
                  </iframe>
                </div> -->



              </div>
            </div>
          </div>

          <!-- Display Tags -->
          <!-- <div class="card">
            <div class="header"><h2>Tags:</h2></div>
            <div class="body" style="padding:4px 0px 0px 0px;">
              <div class="input-group demo-tagsinput-area remove-border">
                <input type="text" class="form-control" data-role="tagsinput" value="<%#= @document.tags.pluck(:name).join(",") %>">
              </div>
            </div>
          </div> -->
          
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<script type="text/javascript">
  function print() {
    window.open('<%= print_user_template_document_path(@document) %>','print-document-<%= @document.id %>','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=600,height=350');
  }
  function directPrint() {
    window.frames["preview_frame"].focus();
    window.frames["preview_frame"].print();
  }
</script>

<style type="text/css">
  #DOC_PREVIEW {
    width: 100%;
    border: none;
    text-align: center;
    height: 400px;
  }
</style>