<%
  if @document.new_record?
    form_method = :post
    form_url = user_documents_path
  else
    form_method = :put
    form_url = user_document_path(@document)
  end
%>

<%= form_with(url: form_url,  
      class: "form-floating", 
      model: @document,
      method: form_method, 
      html: { autocomplete: "off" }) do |f| %>

  <!-- To identify document type -->
  <%= hidden_field_tag "dt", params[:dt] %>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Show Success / Error / Info Messages If any set by the controller action -->
        <%= flash_message(false) if defined?(flash) -%>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <% error_class = @document.errors[:title].any? ? 'parsley-error' : '' %>
        <%= f.text_field :title, class: "form-control #{error_class}", placeholder: 'Title' %>
        <%= display_parsley_error(@document, :title) %>
      </div>

      <div class="form-group col-md-3">
        <% error_class = @document.errors[:input_language].any? ? 'parsley-error' : '' %>
        <select class="form-control <%= error_class %> show-tick" name='document_template_based[input_language]'>
          <option>Select Input Language</option>
          <option value='ENGLISH' <%= @document.input_language == 'ENGLISH' ? "selected='selected'" : '' %>>English</option>
          <option value='ARABIC' <%= @document.input_language == 'ARABIC' ? "selected='selected'" : '' %>>Arabic</option>
          <option value='FRENCH' <%= @document.input_language == 'FRENCH' ? "selected='selected'" : '' %>>French</option>
        </select>
        <%= display_parsley_error(@document, :input_language) %>
      </div>

      <div class="form-group col-md-3">
        <% error_class = @document.errors[:output_1_language].any? ? 'parsley-error' : '' %>
        <select class="form-control <%= error_class %> show-tick" name='document_template_based[output_1_language]'>
          <option>Select Out Put Language 1 </option>
          <option value='ENGLISH' <%= @document.output_1_language == 'ENGLISH' ? "selected='selected'" : '' %>>English</option>
          <option value='ARABIC' <%= @document.output_1_language == 'ARABIC' ? "selected='selected'" : '' %>>Arabic</option>
          <option value='FRENCH' <%= @document.output_1_language == 'FRENCH' ? "selected='selected'" : '' %>>French</option>
        </select>
        <%= display_parsley_error(@document, :output_1_language) %>
      </div>

      <div class="form-group col-md-3">
        <% error_class = @document.errors[:output_2_language].any? ? 'parsley-error' : '' %>
        <select class="form-control <%= error_class %> show-tick" name='document_template_based[output_2_language]'>
          <option>Select Out Put Language 2 s</option>
          <option value='ENGLISH' <%= @document.output_2_language == 'ENGLISH' ? "selected='selected'" : '' %>>English</option>
          <option value='ARABIC' <%= @document.output_2_language == 'ARABIC' ? "selected='selected'" : '' %>>Arabic</option>
          <option value='FRENCH' <%= @document.output_2_language == 'FRENCH' ? "selected='selected'" : '' %>>French</option>
        </select>
        <%= display_parsley_error(@document, :output_2_language) %>
      </div>

      <div class="form-group col-md-12">
        <% error_class = @document.errors[:description].any? ? 'parsley-error' : '' %>
        <%= f.text_area :description, class: "form-control #{error_class}", placeholder: 'Description ' %>
        <%= display_parsley_error(@document, :description) %>
      </div>

      <div class="form-group col-md-12">
        <button class="btn btn-primary float-right mt-4" type="submit" >Submit</button>
      </div>
    </div>
<% end %>


