<%
  if @document.new_record?
    form_method = :post
    form_url = user_documents_path
  else
    form_method = :put
    form_url = user_document_path(@document)
  end
%>

<%= form_with(url: form_url,  class: "form-floating", 
              model: @document, method: form_method, 
              id: "DOCUMENT_FORM", html: { autocomplete: "off" }) do |f| %>

  <!-- To identify document type -->
  <% template_id = params[:template_id] || @document.template_id %>
  <%= hidden_field_tag "document_template_based[template_id]", template_id %>
  <%= hidden_field_tag "called_from", params[:called_from] %>
  <%= hidden_field_tag "dt", params[:dt] %>

  <!-- Error Messages -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <!-- Show Success / Error / Info Messages If any set by the controller action -->
      <%= flash_message(false) if defined?(flash) -%>
    </div>
  </div>

  <div class="row mt-4">
      <!-- Base HOT Holder Div -->
    <div id="TABLE_TRANSLATION_HOT" style="width: 100%"></div>
  </div>

<% end %>

<%= content_for :javascript_footer do %>
  <%= render :partial=>"user/documents/form/table_based_form.js.erb" %>
<% end %>
