<% @templates = LabelTemplate.all %>
<div class="row clearfix">
  <% @templates.each do |template| %>
    <div class="col-lg-4 cool-md-3 col-sm-12">
        <div class="card">
            <div class="box">
                <ul class="pricing body">
                    <li class="plan-img">
                      <%#= image_tag("demo/template_preview_2.png", class: "img-fluid", alt: template.display_name) %>
                        <% if template.picture.attached? %>
                         <%= image_tag(template.picture,class: "img-fluid") %>
                        <%else%>
                        <%= image_tag("label-Template.jpg", class: "img-fluid", alt: template.display_name) %>
                        <%end%>
                      
                     
                    </li>
                    <li><%= template.display_name %></li>
                    <li><%= template.description %></li>
                    <li class="plan-btn">
                      <%= link_to content_tag(:span, "Select"), new_user_document_path(dt: 'template', template_id: template.id), class: "btn-primary" %></li>
                    </li>
                </ul>
                  <!-- Latest template has ribbon with text 'new' -->
                <% if template.latest %> 
                  <div class="ribbon"><span>New</span></div>
                <% end %>
              </div>
        </div>
    </div>
  <% end %>
</div>




