<div class="card mt-4">
  <div class="card-body">
    
    <div class="row">

      <div class="col-sm-6">
        <ul class="list-group felix-ul-table-style">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5"> Name :</div>
              <div class="col-sm-7"><b><%= @client_user.display_name %></b></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5"> Organisation :</div>
              <div class="col-sm-7"><b><%= @client_user.organisation %></b></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5"> Country :</div>
              <div class="col-sm-7"><b><%= @client_user.country %></b></div>
            </div>
          </li>
          
        </ul>
      </div>

      <div class="col-sm-6">
        <ul class="list-group felix-ul-table-style">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5"> Email :</div>
              <div class="col-sm-7"><b><%= @client_user.email %></b></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5"> Mobile :</div>
              <div class="col-sm-7"><b><%= @client_user.mobile_number %></b></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5">Registered At :</div>
              <div class="col-sm-7"><b><%= @client_user.created_at.strftime("%d %b %Y - %I:%M %p") %></b></div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>