<!doctype html>
<html lang="en">

  <!-- Head -->
  <%= render partial: 'layouts/user/head' %>

  <body class="font-montserrat light_version">

    <!-- Page Loader -->
    <%= render partial: 'layouts/user/loader' %>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">
        <!-- Top Navigation -->
        <%= render partial: 'layouts/user/navbar' %>

        <!-- Search Container -->
        <%= render partial: 'layouts/user/search' %>

        <!-- Left Sidebar -->
         <%= render partial: 'layouts/user/left_sidebar' %>

        <!-- Main container -->
        <div id="main-content">

          <!-- Show Success / Error / Info Messages If any set by the controller action -->
          <%= flash_message(false) if defined?(flash) -%>
          <%= yield %>

        </div>
        <!-- End of Main container -->
        
    </div>

    <!-- Application Javascripts  -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </body>
</html>
